.drop-buttons {
  line-height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 4px;
  background-color: white;

  &__item {
    background: none;
    border: none;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;

    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }

    &_for-reset {
      visibility: hidden;
    }

    &_active {
      visibility: visible;
    }
  }
}
