mixin drop-buttons({} = {})
  .drop-buttons.js-drop-buttons
    button.drop-buttons__item.js-drop-buttons__item(data-button-type='reset' type='button') очистить
    button.drop-buttons__item.js-drop-buttons__item(data-button-type='submit' type='button') применить