include ../button/button.pug

mixin drop-buttons()
  .drop-buttons.js-drop-buttons
    .drop-buttons__item.drop-buttons__item_for-reset.js-drop-buttons__item_for-reset
      +button({ theme: 'simple', type: 'button', text: 'очистить' })
    .drop-buttons__item.drop-buttons__item_for-submit.js-drop-buttons__item_for-submit
      +button({ theme: 'simple', type: 'button', text: 'применить' })