.pagination {
  text-align: center;
  user-select: none;
  font-size: 12px;

  &__item {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;

    &_previous, &_next {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 22px;
      color: #fff;
      font-weight: bold;
      &.disable {
        display: none;
      }
      span {
        color: white;

        &:before {
          display: block;
          font-size: 1.4em;
          line-height: 1.4em;
          margin: 0.3em;
        }
      }
    }

    &_current.active {
      border-radius: 22px;
      color: #fff;
      font-weight: bold;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }  
}