.pagination
  .row
    button.pagination__btn.pagination__btn_checked 1
    button.pagination__btn 2
    button.pagination__btn 3
    button.pagination__btn ...
    button.pagination__btn 5
    button.pagination__btn.pagination__btn_arrow
      i.icon-arrow
  .row
    p 1 – 12 из 100+ вариантов аренды