.pagination {  
  display: flex;
  flex-direction: column;
  width: max-content;  
  padding-right: 12px;
  user-select: none;
  font-size: 12px;

  &__item {
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;

    @media(max-width: 770px) {
      width: 23px;
    }

    &_previous,
    &_next {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 22px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }

    &_active {
      border-radius: 22px;
      color: #fff;
      font-weight: bold;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &_previous,
    &_next,
    &_active {
      @media(max-width: 770px) {
        width: 40px;
      }
    }

    &_disable {
      display: none;
    }
  }

  &__icon {
    color: white;

    &:before {
      display: block;
      font-size: 1.4em;
      line-height: 1.4em;
      margin: 0.3em;
    }
  }

  &__text {
    width: max-content;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 0px 0px 5px;
  }
}