div(class='rights')
  div(class='container')
    div(class='rights-content') 
      div(class='rights__logo') 
        include ../../logo/logo.pug
      p Copyright © 2018 Toxin отель. Все права защищены.
      div(class='icons-list') 
        div(class='icon')
          include twitter.svg
        div(class='icon')
          include facebook.svg
        div(class='icon')
          include instagram.svg