.rights {
  background-color: #fff;  
  height: 70px;

  .container {
    height: 100%;
  }
  
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 

  &__logo {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__icon {
    padding: 0 0 0 20px;
  }

  @media only screen and (max-width: 1024px) { 
    height: 367px;    

    &__inner {      
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    } 

    &__logo {
      display: block;
    }
  }
}