.rights
  .container
    .rights__inner
      .rights__logo
        include ../../logo/logo.pug
      p.rights__text Copyright © 2018 Toxin отель. Все права защищены.
      .rights__list
        .rights__icon
          include twitter.svg
        .rights__icon
          include facebook.svg
        .rights__icon
          include instagram.svg