.login-card {
  max-width: 380px;
  width: 100%;
  max-height: 646px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 1.3vw auto;
  background: #FFFFFF;

  @media (max-width: 420px) {
    width: 300px;
  }

  &__inner {
    padding: 39px 29px 29px 29px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 420px) {
      padding: 15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    margin: 0px;
    line-height: 29px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(31, 32, 65, 1);
  }

  &__subtitle {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }

  &__link-button {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 44px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    margin: 0px;
  }

  &__button {
    width: 100px;
    height: 44px;
  }
}