include ../input/input.pug
include ../radio/radio.pug
include ../form/form.pug
include ../toggle/toggle.pug
include ../button/button.pug

.login-card.js-login-card
  .login-card__inner
    .login-card__item 
      h1.login-card__title Регистрация аккаунта
    .login-card__item
      .login-card__input
        +input({type: "empty", value:'Имя'})
      .login-card__input
        +input({type: "empty", value:'Фамилия'})
      .login-card__radio 
        +radio()
    .login-card__item
      .login-card__form
        h3.login-card__subtitle дата рождения
        +form({
          inputDate: {type: "empty", value: 'ДД.ММ.ГГГГ'},
          dropDate: {type: 'calendar', id: 'login'}
          })
    .login-card__item
      .login-card__form
        h3.login-card__subtitle данные для входа в сервис
        .login-card__input
          +input({type: "empty", value:'Email'})
      .login-card__input
        +input({type: "empty", value:"Пароль"})
      .login-card__toggle
        +toggle({text:"Получать спецпредложения"})
    .login-card__item
      .login-card__link-button
        +button({theme: "link", text: "зарегистрироваться", icon: true})
    .login-card__item
      .login-card__row
        p.login-card__text Уже есть аккаунт на Toxin
        .login-card__button.js-login-card__button
          +button({theme: "white", text: "войти"})


      
