include ../input/input.pug
include ../radio/radio.pug
include ../form/form.pug
include ../toggle/toggle.pug
include ../button/button.pug

form.login-card.js-login-card
  .login-card__inner
    .login-card__item 
      h1.login-card__title Регистрация аккаунта
    .login-card__item
      .login-card__input
        +input({type: "empty", placeholder:'Имя'})
      .login-card__input
        +input({type: "empty", placeholder:'Фамилия'})
      .login-card__radio 
        +radio({text: "Мужчина", checked: true})
        +radio({text: "Женщина"})
    .login-card__item
      .login-card__form
        h3.login-card__subtitle дата рождения
        +form({
          inputDate: {type: "empty", placeholder: 'ДД.ММ.ГГГГ'},
          dropDate: {type: 'calendar', id: 'login-card'}
          })
    .login-card__item
      .login-card__form
        h3.login-card__subtitle данные для входа в сервис
        .login-card__input
          +input({type: "empty", placeholder:'Email'})
      .login-card__input
        +input({type: "empty", placeholder:"Пароль"})
      .login-card__toggle
        +toggle({text:"Получать спецпредложения"})
    .login-card__item
      .login-card__link-button
        +button({theme: "with-arrow", type:"submit", text: "зарегистрироваться", icon: true})
    .login-card__item
      .login-card__row
        p.login-card__text Уже есть аккаунт на Toxin
        .login-card__button.js-login-card__button
          +button({theme: "white", text: "войти"})


      
