include ../input/input.pug
include ../radio/radio.pug
include ../toggle/toggle.pug
include ../calendar/calendar.pug

.card.login-card
  .card-inner
    .card-item 
      h1 Регистрация аккаунта
    .card-item
      +input('text', 'Имя')
      +input('text', 'Фамилия')
      +radio(["Мужчина", "Женщина"])
    .card-item
      h3 дата рождения 
      form
        +input("text", "ДД.ММ.ГГГГ")
        +calendar("datepicker_login")(class="select_card")
    .card-item
      h3 данные для входа в сервис
      +input("text", "Email")
      +input("text", "Пароль")
      +toggle("Получать спецпредложения")
    .card-item
      button.btn.btn_link подобрать номер
        span.icon-arrow
    .card-item
      .row.row_fill 
        p Уже есть аккаунт на Toxin
        button.btn.btn_white.nav__signin войти


      
