extends ../base/base.pug

block content  
  .login
    .login__content
      include ../../components/login-card/login-card.pug

block back
  img.login__image(src=require("@a/images/background-images/login.jpg"), alt="background room image")
