extends ../base/base.pug

block content  
  .login
    .container
      include ../../components/login-card/login-card.pug

block back
  .login__back
    img(src=require("@/pages/login/login.jpg"), alt="background room image")
