.templates {
  &__container {
    max-width: 1160px;
    width: 96vw;
    padding: 0 1vw;
    margin: 0 auto;
    position: relative;
  }

  &__content {
    margin: 145px auto;
    display: grid;
    grid-template: min-content / 1fr 1fr;
    grid-column-gap: 18%;
  }

  &__colors {
    margin: 0px 0px 0px 10px;
    padding: 0px;
    list-style-type: none;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
  }

  &__color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background-color: red;

    &-name {
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-size: 19px;
      line-height: 28px;
      margin: 0px;
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-weight: bold;
    }
  }

  &__types {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 50px;
  }

  &__types-row {
    display: grid;
    grid-template-columns: 58px 1fr;
    grid-column-gap: 30px;

    &_with-h1 {
      font-size: 24px;
      line-height: 30px;
    }

    &_with-h2 {
      font-size: 19px;
    }

    &_with-h3 {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
    }

    &_with-p {
      font-size: 14px;
      line-height: 24px;
      white-space: pre-wrap;
    }
  }

  &__type-name {
    margin: 0px;
    color: rgba(31, 32, 65, 0.25);
    text-align: end;
    font-weight: normal;
    font-size: inherit;
  }

  &__type-description {
    margin: 0px;
    color: rgba(31, 32, 65, 1);
    font-size: inherit;
  }
}
