mixin radio(title)
  h3= title
  form.row.row_start.radio    
    label.row
      input.radio__input(type="radio" name="radio" checked)
      span.radio__box.icon-circle
      p Женщина
    label.row
      input.radio__input(type="radio" name="radio")
      span.radio__box.icon-circle
      p Мужчина
