mixin radio(items)
  form.row.row_start.radio    
    label.row
      input.input_hidden.radio__input(type="radio" name="radio" checked)
      span.radio__box
      p= items[0]
    label.row
      input.input_hidden.radio__input(type="radio" name="radio")
      span.radio__box
      p= items[1]
