mixin radio(options)  
  - const text = options.text || ''
  - const checked = options.checked || false 

  .radio 
    label.radio__label
      input.radio__input(type="radio" name="radio" checked=checked)
      span.radio__box
      span.radio__text= text
