mixin radio(title)
  h3= title
  form.row.row_start.radio    
    label.row
      input.input_hidden.radio__input(type="radio" name="radio" checked)
      span.radio__box
      p Женщина
    label.row
      input.input_hidden.radio__input(type="radio" name="radio")
      span.radio__box
      p Мужчина
