.input {  
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;  
  box-sizing: border-box;

  &_empty {
    width: 320px;
  }

  &_arrow,
  &_dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_arrow {
    width: 260px;
  }

  &_dropdown {
    &.filter {
      width: 266px;
    }
    &.entryDate {
      width: 150px;
    } 
    &.entryGuests {
      width: 320px;
    }    
  }
  
  &__btn {
    width: 42px;
    height: 42px;
    color: rgba(31, 32, 65, 0.5);
    background-color: #FFFFFF;
    border: 0px;
    box-sizing: border-box;
  }
}


