include ../icon-open/icon-open.pug
include ../icon-arrow/icon-arrow.pug

mixin input(options) 
  - const fontType = options.fonType || 'text'
  - const placeholder = options.placeholder || ''
  - const value = options.value || ''
  - const focus = options.focus || false
  - const withArrow = options.withArrow || false
  - const forOpen = options.forOpen || false

  .input.js-input(type=fontType, placeholder=placeholder, autofocus=focus)
    input.input__field.js-input__field

    if(withArrow)
      button.input__button.input__button_with-arrow(type="submit")
        +icon-arrow()

    if(forOpen)
      button.input__button.input__button_for-open.js-input__button_for-open(type="button")
        +icon-open() 


  

    
    
