.input-row {
  height: 44px;
  display: flex;
  flex-direction: row;    
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;

  &:focus-within, &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
  
  input {
    width: 100%;
    height: 100%;
    background: #FFFFFF;  
    border: none;     
    padding: 0 5px 0px 15px; 
    
    &:hover, &:focus {
      outline: none;      
      &::placeholder {
        color: rgba(31, 32, 65, 0.75);         
      }
    }

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);   
    }     
  }

  &.date {
    input {
      text-transform: uppercase;
      &::placeholder {
        color: rgba(31, 32, 65, 0.75);
      }
    }    
  }

  &.dropdown, &.subscript, &.date {
    input {     
      color: rgba(31, 32, 65, 0.75);
    }

    button {
      width: 44px;
      height: 100%; 
      margin: 0;
      padding: 0;
      &:hover, &:focus {
        outline: none; 
      }
    }
  }
}

.input__open, .input__right {
  color: rgba(31, 32, 65, 0.5);
  border: none;
  background: #FFFFFF;
}

.input__open {
  font-size: 8px;
}

.input__right {
  font-size: 18px;
  background-image: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  




     


