mixin input(type, value)  
  .input-row(class=attributes.class)
    input.input(type=type, value=value)

    if(attributes.class=="subscript")
      button(type="button")
        i.icon-right

    if(attributes.class=="dropdown")
      button(type="button")
        i.icon-down-open

  

    
    
