.input {
  height: 44px;
  width: 100%;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;  
  box-sizing: border-box;   
  
  color: rgba(31, 32, 65, 0.75);
  line-height: 18px;
  padding: 0px 0px 0px 15px;

  &_empty {
    width: 320px;
  }

  &_arrow {
    width: 260px;
  }

  &__btn {
    position: absolute;
    z-index: 3;
    right: 2px;
    bottom: 2px;
    width: 40px;
    height: 40px;
    color: rgba(31, 32, 65, 0.5);
    background-color: #FFFFFF;
    border: 0px;
    box-sizing: border-box;
  }
}


