mixin input(value, category, type)
  if(category == 'dropdown')
    input(type=type, value=value, class='input')
    button(type='button', class='input__btn')
      include dropdown-btn.svg
  if(category == 'arrow')
    input(value=value, class='input')
    button(ctype='button' class='input__btn')
      include arrow-btn.svg
  if(category == 'empty')
    input(value=value, class='input')



    
    
