mixin input(type, value)  
  .input-row(class=attributes.class)
    input.input(type=type, value=value)

    if(attributes.class=="subscript")
      button.input__right(type="button")
        i.icon-right

    if(attributes.class=="dropdown")
      button.input__open(type="button")
        i.icon-down-open

  

    
    
