div(class='header header-wrapper')
  div(class='container header-container')
    include ../../assets/logo/logo.pug
    div(class='nav') 
      ul(class='nav-list')
        li 
          p О нас
        li 
          p Услуги
        li 
          p Вакансии
        li 
          p Новости
        li 
          p Соглашения
        li
          button(class='btn btn_header btn_header_login') войти
        li
          button(class='btn btn_header btn_header_register') зарегистрироваться