@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/montserrat-bold/montserrat-bold.woff') format('woff'),
    url('../fonts/montserrat-bold/montserrat-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/montserrat-regular/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular/montserrat-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/quicksand-bold/quicksand-bold.woff') format('woff'),
    url('../fonts/quicksand-bold/quicksand-bold.woff2') format('woff2');
}