html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
}