include ../like/like.pug

mixin review({ name = "Патрисия Стёклышкова", image = "patricia.jpg", time = "Неделю назад", content = "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент", like = { count, isCheck } })
    .review.js-review
      .review__col
        .review__photo
          img.review__image(src= require("@a/images/review-images/" + image) alt='person photo')
        .review__like 
          +like({ count: like.count, isCheck: like.isCheck })
      .review__col 
        .review__title= name 
        .review__subtitle= time 
        .review__content= content
