include ../like/like.pug

mixin review(data)
  each val in data
    .review
      .row
        .col.review__col
          .review__image
            img(src= require("@c/review/img/" + val.image) alt='person photo')
          .review__like 
            +like(val.like)
        .col.review__col 
          .review__title= val.name 
          .review__subtitle= val.time 
          .review__content= val.content
