include ../like/like.pug

mixin review(data)
  each val in data
    .review-item
      .row.row_start
        .col
          .review__image
            img(srcset= require("@c/review/img/" + val.image))
          .review__like 
            +like(val.like)
        .col 
          .review__title= val.name 
          .review__subtitle= val.time 
          .review__content= val.content
