include ../like/like.pug

mixin review({ item = require("@c/review/review.json") } = {} )
  - let { name, image, time, content, like } = item
  .review.js-review
    .review__col
      .review__photo
        img.review__image(src= require("@a/images/review-images/" + image) alt='person photo')
      .review__like 
        +like(like)        
    .review__col 
      p.review__title= name 
      p.review__subtitle= time 
      p.review__content= content
