include ../like/like.pug

mixin review({ item = require("@c/review/review.json") } = {} )
  .review.js-review
    .review__col
      .review__photo
        img.review__image(src= require("@a/images/review-images/" + item.image) alt='person photo')
      .review__like         
    .review__col 
      .review__title= item.name 
      .review__subtitle= item.time 
      .review__content= item.content
