mixin chart()
  <div>
    <canvas id="myChart"></canvas>
  </div>


//-364 длина окружности 
  .chart
    <svg width=120 height=120 viewBox="0 0 120 120" class="donut">
      <circle class="donut-hole" cx="60" cy="60" r="58" fill="#fff"></circle>
      <circle class="donut-segment" cx="60" cy="60" r="58" fill="transparent" stroke="url(#paint1_linear)" stroke-width="4" stroke-dasharray="89 275" stroke-dashoffset="90"></circle>
      <circle class="donut-segment" cx="60" cy="60" r="58" fill="transparent" stroke="url(#paint2_linear)" stroke-width="4" stroke-dasharray="89 275" stroke-dashoffset="363"></circle>
      <circle class="donut-segment" cx="60" cy="60" r="58" fill="transparent" stroke="url(#paint3_linear)" stroke-width="4" stroke-dasharray="179 185" stroke-dashoffset="273"></circle>
      <defs>
        <linearGradient id="paint1_linear" x1="-1" y1="0" x2="-1" y2="120" gradientUnits="userSpaceOnUse">
          <stop stop-color="#BC9CFF"/>
          <stop offset="1" stop-color="#8BA4F9"/>
        </linearGradient>
        <linearGradient id="paint2_linear" x1="-1" y1="-61" x2="-1" y2="59" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6FCF97"/>
          <stop offset="1" stop-color="#66D2EA"/>
        </linearGradient>
        <linearGradient id="paint3_linear" x1="60" y1="0" x2="60" y2="120" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFE39C"/>
          <stop offset="1" stop-color="#FFBA9C"/>
        </linearGradient>
      </defs>
    </svg>
//-
    <svg width="59" height="120" viewBox="0 0 59 120" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="60" cy="60" r="58" stroke="url(#paint0_linear)" stroke-width="4"/>
  
  </svg>