footer(class='footer')
  div(class='container footer-container')
    div(class='column')
      include ../../assets/logo/logo.pug
      p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div(class='column')
      h3 Навигация 
      p О нас
      p Новости
      p Служба поддержки
      p Услуги
    div(class='column')
      h3 О нас
      p О сервисе
      p Наша команда
      p Вакансии
      p Инвесторы
    div(class='column')
      h3 Служба поддержки
      p Соглашение
      p Сообщества
      p Связь с нами
    div(class='column')
      h3 Подписка
      p Получайте специальные предложения и новости сервиса
