include ../../input/input.pug
include ../../select/select.pug

mixin form_select(title, value, id)
  form(class='form form_select', id=id)
    legend 
      h3=title 
    +input(value, 'dropdown', 'text')
    +select()
    