include ../../input/input.pug
include ../../select/select.pug

mixin form_select(title, array, type)
  form(class='form form_select', class=type)
    legend 
      h3=title 
    +input(' ', 'dropdown', 'text')
    div(class='drop', class=attributes.class)
      +select(array)  
      if attributes.class
        div(class='row')
          button(type='button', class='btn_submit reset p_light') очистить
          button(type='button', class='btn_submit submit p_light') применить   
  