include ../input/input.pug
include ../selector/selector.pug

mixin form-placement({ value = '', items = [ {name: "Спальни", amount: 0}, {name: "Кровати", amount: 0}, {name: "Ванные комнаты", amount: 0}] })
  .form-placement.js-form-placement
    .form-placement__input.js-form-placement__input
      +input({placeholder:'Сколько спален', value:value, openable: true })
    .form-placement__drop.js-form-placement__drop
      +selector({items: items})