.btn {  
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
  cursor: pointer;

  &_header {
    height: 34px;

    &-login {
      width: 87px;
      background: none;
      border: 2px solid #aa99ce;
    }

    &-register {
      width: 196px;
    }
  }

  &_entry {
    width: 320px;
    height: 44px;
    margin: 37px 0px 0px 0px;
  }  

  &_circle {
    width: 40px;
    height: 40px;
  }

  &_submit {
    border: none;
    background-color: white;
  }
}

