.btn {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;

  &_blue,
  &_white,
  &_link {
    height: 44px;
    border-radius: 22px;
    padding: 0px 20px;
  }

  &_blue,
  &_link {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    color: #FFFFFF;

    a {
      color: #fff;
    }
  }

  &_blue,
  &_white {
    max-height: 44px;
    height: 100%;

    &:hover,
    &.hovered {
      opacity: 0.5;
    }
  }

  &_white {
    color: #BC9CFF;
    background-color: #fff;
    border: 2px solid;
    padding: 0px 18px;
    border-image: linear-gradient(rgba(188, 156, 255, 1) rgba(139, 164, 249, 1));
  }

  &_simple {
    background: none;
    border: none;
    color: #BC9CFF;
    padding: 0;

    &:hover,
    &.hovered {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_link {
    width: 100%;
    position: relative;

    span {
      position: absolute;
      right: 0;
      width: 44px;
      font-size: 1.5em;
    }
  }
}