include ../icon-arrow/icon-arrow.pug

mixin button({ theme = '', type = 'button', text = '', icon = false })  
  button.button(class='button_' + theme, type=type) 
    .button__text= text
    if(icon)
      .button__icon
        +icon-arrow()