.btn {
  width: 100%;
  max-height: 44px;
  height: 100%;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  &_blue,
  &_white,
  &_with-arrow {
    border-radius: 22px;
  }

  &_blue,
  &_with-arrow {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    color: #FFFFFF;
  }

  &_blue,
  &_white {
    &:hover {
      opacity: 0.5;
    }
  }

  &_white {
    color: #BC9CFF;
    background-color: #fff;
    border: 2px solid;
    border-image: linear-gradient(rgba(188, 156, 255, 1) rgba(139, 164, 249, 1));
  }

  &_simple {
    background: none;
    border: none;
    color: #BC9CFF;

    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_with-arrow {
    display: grid;
    grid-template-columns: 1fr 44px;
    align-items: center;
  }

  &_hovered {
    opacity: 0.5;
  }

  &__text {
    grid-area: 1/1/span 1/span 2;
  }

  &__icon {
    grid-area: 1/2/span 1/span 1;
    color: #fff;
    font-size: 1.5em;
    caret-color: transparent;
  }
}