include ../icon-arrow/icon-arrow.pug

mixin button({ theme = '', type = 'button', text = '', icon = false, dataType = '', href=null } = {})  
  a.button(class = 'button_' + theme, type = type, data-button-type = dataType href=href)
    span.button__text= text
    if(icon)
      .button__icon
        +icon-arrow()