include ../icon-arrow/icon-arrow.pug

mixin button(options)
  - const theme = options.theme || '' 
  - const type = options.type || 'button'  
  - const text = options.text || '' 
  - const icon = options.icon || false
  
  button.button(class='button_' + theme, type=type) 
    .button__text= text
    if(icon)
      .button__icon
        +icon-arrow()