div(class='entry')
  div(class='entry-inner')
    h2 Найдём номера под ваши пожелания
    div(class='entry-row')
      div(class='entry-col')
        h3 прибытие
        include ../../../assets/input/input.pug
      div(class='entry-col')
        h3 выезд
        include ../../../assets/input/input.pug
    div(class='entry-row')
    div(class='entry-row')
      button(class='btn') подобрать номер
    include ../../../assets/calendar/calendar.pug
