div(class='entry')
  div(class='entry-inner')
    h2 Найдём номера под ваши пожелания
    include ../../../includes/entrySet/entrySet.pug
    div(class='row row-entry')
      button(class='btn btn-entry') подобрать номер
