div(class='entry')
  div(class='entry-inner')
    h2 Найдём номера под ваши пожелания
    include ../../../includes/entrySet/entrySet.pug
    div(class='entry-row')
      button(class='btn') подобрать номер
