.noUi {
  &-horizontal {
    .noUi-handle {
      box-shadow: none;
      height: 12px;
      width: 12px;
      top: -4px;
      right: 0;
      border-radius: 50%;
      border: none;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      cursor: pointer;

      &::after {
        display: none;
      }

      &::before {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: -2px;
        z-index: -1;
      }

      &-lower {
        &::before {
          left: -2px;
          right: -2px;
        }
      }

      &-upper {
        &::before {
          right: -2px;
          left: -2px;
        }
      }
    }
  }

  &-connect {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &-draggable {
    cursor: default;
  }
}