include ../input-open/input-open.pug
include ../double-date/double-date.pug
include ../drop/drop.pug

mixin form({inputDate={}, dropDate={}}) 
  .form.js-form    
    if(dropDate.dateType === 'double')
      +double-date(inputDate)
    else 
      +input-open(inputDate)
    +drop(dropDate)



      
    


