mixin form(title, type) 
  form.form
    h3= title 
    .input-row(class=attributes.class)

      input(type=type)

      if(attributes.class=="dropdown")
        button(type="button")
          i.icon-down-open

      if(attributes.class=="subscript")
        button(type="button")
          i.icon-right

