include ../input/input.pug

mixin form(value, category, array) 
  form.form
    +input(/*type*/"text", /*value*/value )(class='dropdown')

    if(category == "select")
      +select(array)(class=attributes.class)

    if(category == "calendar")
      +calendar()



      
    


