include ../input/input.pug

mixin form(value, category, array) 
  form(class=category)
    +input(/*type*/"text", /*value*/value )(class='dropdown')

    if(category == "guests" || category == "comfort")
      +select(array)(class=attributes.class)

    if(category == "calendar")
      +calendar()



      
    


