include ../input/input.pug

mixin form(category, array) 
  form(class=category)
    +input(/*type*/"text")(class='dropdown')

    if(category == "guests" || category == "placement")
      +select(array)(class=attributes.class)

    if(category == "calendar")
      +calendar()



      
    


