.room-chart {
  &__container {
    height: 125px;
    width: 320px;
    margin-top: 1.35vw;
    position: relative;

    @media(max-width: 770px) {
      margin: 0px;
    }

    @media(max-width: 340px) {
      width: 300px;
    }
  }
}