include ../input/input.pug
include ../radio/radio.pug
include ../form-simple-date/form-simple-date.pug
include ../toggle/toggle.pug
include ../button/button.pug

mixin log-in-card()
  form.log-in-card.js-log-in-card
    .log-in-card__inner
      .log-in-card__item 
        h1.log-in-card__title Регистрация аккаунта
      .log-in-card__item
        .log-in-card__input
          +input({ placeholder:'Имя'})
        .log-in-card__input
          +input({ placeholder:'Фамилия'})
        .log-in-card__radio 
          +radio({text: "Мужчина", checked: true})
          +radio({text: "Женщина"})
      .log-in-card__item
        .log-in-card__form
          h3.log-in-card__subtitle дата рождения
          .log-in-card__date.js-log-in-card__date
            +form-simple-date({ value: 'ДД.ММ.ГГГГ',  id: 'log-in-card' })
      .log-in-card__item
        .log-in-card__form
          h3.log-in-card__subtitle данные для входа в сервис
          .log-in-card__input
            +input({fontType: 'e-mail', placeholder:'Email'})
        .log-in-card__input
          +input({placeholder:"Пароль"})
        .log-in-card__toggle
          +toggle({text:"Получать спецпредложения"})
      .log-in-card__item
        .log-in-card__link-button
          +button({theme: "with-arrow", type:"submit", text: "зарегистрироваться", icon: true})
      .log-in-card__item
        .log-in-card__row
          p.log-in-card__text Уже есть аккаунт на Toxin
          .log-in-card__button.js-log-in-card__button
            +button({theme: "white", text: "войти"})


        
