.burger {
  display: none;
  height: 35px;
  width: 45px;
  position: relative;
  margin-left: 20px;

  @media only screen and (max-width: 924px) {
    display: block;
  }

  &__item,
  &:after,
  &:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }

  &__item {
    top: 16px;
  }

  &:after,
  &:before {
    content: '';
  }

  &:after {
    bottom: 5px;
  }

  &:before {
    top: 5px;
  }

  &_pushed {
    .burger__item {
      opacity: 0;
      transition: 0.1s;
    }

    &:before {
      transform: rotate(45deg);
      top: 16px;
      transition: 0.2s;
    }

    &:after {
      transform: rotate(-45deg);
      bottom: 16px;
      transition: 0.2s;
    }
  }
}