include ../input/input.pug
include ../calendar/calendar.pug

mixin form-pair-date({ value = 'ДД.ММ.ГГГГ' }) 
  .form-pair-date.js-form-pair-date 
    .form-pair-date__input.js-form-pair-date__input
      +input({value: value, openable: true, isReadonly: true })
    .form-pair-date__calendar.js-form-pair-date__calendar
      +calendar()