.links {
  box-shadow: 0px 1px 0px 0px #1F20411A;

  &-container {
    height: 372px;     
  }

  &-row {
    padding: 100px 0px 0px 0px;
  }

  &-col {
    max-width: 260px;
    align-items: flex-start;
  }
}