include ../../input/input.pug

.links
  .container
    .row.row_fill.links__row
      .col.links__col
        include ../../logo/logo.pug
        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .col.links__col
        h3 Навигация 
        a(href='../../empty.html') О нас
        a(href='../../empty.html') Новости
        a(href='../../empty.html') Служба поддержки
        a(href='../../empty.html') Услуги
      .col.links__col
        h3 О нас
        a(href='../../empty.html') О сервисе
        a(href='../../empty.html') Наша команда
        a(href='../../empty.html') Вакансии
        a(href='../../empty.html') Инвесторы
      .col.links__col
        h3 Служба поддержки
        a(href='../../empty.html') Соглашение
        a(href='../../empty.html') Сообщества
        a(href='../../empty.html') Связь с нами
      .col.links__col
        h3 Подписка
        p Получайте специальные предложения и новости сервиса
        form
          +input("text", "Email")(class="subscript")
      
