div(class='links')
  div(class='container links-container')
    div(class='row links-row')
      div(class='col links-col')
        include ../../logo/logo.pug
        p(class='p_dark') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      div(class='col links-col')
        h3 Навигация 
        p О нас
        p Новости
        p Служба поддержки
        p Услуги
      div(class='col links-col')
        h3 О нас
        p О сервисе
        p Наша команда
        p Вакансии
        p Инвесторы
      div(class='col links-col')
        h3 Служба поддержки
        p Соглашение
        p Сообщества
        p Связь с нами
      div(class='col links-col')
        h3 Подписка
        p(class='p_dark') Получайте специальные предложения и новости сервиса
        +input('arrow', 'Email')
