include ../input-open/input-open.pug
include ../selector/selector.pug

mixin form-guests({value='', items, hasButton=false})
  .form-guests.js-form-guests
    .form-guests__input.js-form-guests__input
      +input-open({placeholder: 'Сколько гостей', value: value})
    .form-guests__drop.js-form-guests__drop
      +selector(items, hasButton)