mixin counter(amount)
  .counter  
    button.counter__btn.counter__btn_with-minus.js-counter__btn.js-counter__btn_with-minus(type='button') -
    .counter__num.js-counter__num= amount
    button.counter__btn.counter__btn_with-plus.js-counter__btn.js-counter__btn_with-plus(type='button') +