mixin counter({ amount = 0 } = {})
  .counter  
    button.counter__button.js-counter__button(type='button' data-counter-type = 'minus') -
    p.counter__number.js-counter__number= amount
    button.counter__button.js-counter__button(type='button' data-counter-type = 'plus') +