mixin counter({ amount = 0 })
  .counter  
    button.counter__button.counter__button_with-minus.js-counter__button.js-counter__button_with-minus(type='button') -
    .counter__number.js-counter__number= amount
    button.counter__button.counter__button_with-plus.js-counter__button.js-counter__button_with-plus(type='button') +