mixin counter(amount)
  .counter  
    button.counter__btn.counter__btn_with-minus.js-counter__btn_with-minus(type='button') -
    input.counter__num.js-counter__num(type="text" value=amount)
    button.counter__btn.counter__btn_with-plus.js-counter__btn_with-plus(type='button') +