include ../../components/header/header.pug

.insertions.js-insertions  
  +header()
  +header(true)
  footer
    include ../../components/links/links.pug
    include ../../components/rights/rights.pug
  .footer_mobile 
    include ../../components/rights/rights.pug