include ../../components/header/header.pug

.insertions.js-insertions  
  +header()
  +header(true)
  footer
    include ../../components/footer/footer.pug
  .footer_mobile 
    include ../../components/footer/footer.pug