extends ../ui-kit-base/ui-kit-base.pug
include ../../components/header/header.pug
include ../../components/links/links.pug
include ../../components/rights/rights.pug

block content
  .insertions.js-insertions  
    header.insertions__header-wrapper
      .insertions__container
        .insertions__header.insertions__header_is-first.js-insertions__header_is-first 
          +header({})
    header.insertions__header-wrapper
      .insertions__container
        .insertions__header.insertions__header_is-second.js-insertions__header_is-second
          +header({isRegistered: true})
    footer.insertions__footer-wrapper
      .insertions__links-wrapper 
        .insertions__container 
          .insertions__links.js-insertions__links
            +links()
      .insertions__rights-wrapper 
        .insertions__container
          .insertions__rights
            +rights({})
    .insertions__rights-wrapper.insertions__rights-wrapper_for-mobile
      .insertions__rights
        +rights({ type: 'for-mobile' })