.insertions {
  padding: 140px 0px;
  background: #E5E5E5;
  display: grid;
  grid-template: 70px 70px min-content min-content;
  grid-row-gap: 40px;

  &__header-wrapper {
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__container {
    max-width: 1160px;
    width: 96vw;
    padding: 0 1vw;
    margin: 0 auto;
    position: relative;
  }

  &__footer-wrapper {
    background-color: #fff;
  }

  &__links-wrapper {
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
    border-top: 1px solid rgba(31, 32, 65, 0.25);
  }

  &__rights-wrapper {
    &_for-mobile {
      width: 768px;
      height: 367px;
      margin: 0 auto;
      background-color: #fff;

      .rights {
        &__inner {
          height: 367px;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
        }

        &__logo {
          display: block;
        }

        &__text {
          margin: 10px 0px 17px 0px;
        }
      }
    }
  }
}