.insertions {
  padding: 140px 0px;
  background: #E5E5E5;
  display: grid;
  grid-template: 70px 70px min-content min-content;
  grid-row-gap: 40px;

  .nav {
    padding-top: 5px;
  }

  .footer_mobile {
    width: 768px;
    height: 100%;
    margin: 0 auto;

    .container {
      width: 100%;
    }

    .links {
      display: none;
    }

    .rights {
      height: 367px;

      .container {
        padding: 0px;
      }

      &__inner {
        height: 367px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
      }

      &__logo {
        display: block;
      }
    }
  }
}