.calendar{
  z-index: 2;
  position: absolute;
  width: 320px;
  height: 369px;
  left: 30px;
  top: 190px;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

}