include ../counter/counter.pug

mixin selector({items})
  .selector.js-selector
    each item in items
      .selector__row
        .selector__subtitle=item.name
        .selector__counter.js-selector__counter  
          +counter(item.amount)
          
