@font-face {
    font-family: "icons";
    src: url("./icons.woff2?2ec9e36c3a28d46ad2b266b42bb7f47b") format("woff2"), 
    url("./icons.woff?2ec9e36c3a28d46ad2b266b42bb7f47b") format("woff"), 
    url("./icons.ttf?2ec9e36c3a28d46ad2b266b42bb7f47b") format("truetype"), 
    url("./icons.svg?2ec9e36c3a28d46ad2b266b42bb7f47b#icons") format("svg");
}

i[class^="icon-"]:before, 
i[class*=" icon-"]:before, 
span[class^="icon-"]:before, 
span[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_back:before {
    content: "\f101";
}

.icon-arrow:before {
    content: "\f102";
}

.icon-check:before {
    content: "\f103";
}

.icon-heart-empty:before {
    content: "\f104";
}

.icon-heart:before {
    content: "\f105";
}

.icon-open:before {
    content: "\f106";
}

.icon-star-empty:before {
    content: "\f107";
}

.icon-star:before {
    content: "\f108";
}