include ../icon-heart/icon-heart.pug

mixin like(options)
  - const count = options.count || 0
  - const isCheck = options.isCheck || false

  .like.js-like
    .like__row
      span.like__icon.js-like__icon(class=`${isCheck ? 'like__icon_active' : ''}`)
        +icon-heart()
      span.like__count.js-like__count= count 
