.like {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  cursor: pointer;

  &__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;

    &:checked + .like__icon:before {
      background-image: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: none;
    }
  }

  &__icon {    
    &:before {
      margin: 0.7em;
      font-size: 0.5em;
      color: #fff;      
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(31, 32, 65, 0.25);
    }
  }

  &__count {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: rgba(31, 32, 65, 0.25);
  }
}