mixin like({count, isCheck, name})
  form.like.js-like.row
    label
      input.input_hidden.like__input.js-like__input(type="checkbox", checked=isCheck, name=name)
      span.like__icon.icon-heart 
    input.like__count.js-like__count(value=count) 
