.like {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  margin: 0px;
  caret-color: transparent;
  user-select: none;
  cursor: pointer;

  &__row {
    height: 18px;
    width: 36px;
    display: grid;
    grid-template-columns: 45% 35%;
    grid-template-rows: 100%;
  }

  &__icon {
    font-size: 0.5em;
    line-height: 18px;
    text-align: center;

    &_active {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: rgba(188, 156, 255, 1);
      stroke-width: none;
      background-clip: text;
      background-image: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
    }
  }

  &__count {
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
  }
}