.like {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  position: relative;
  margin: 0px;
  caret-color: transparent;
  user-select: none;

  &__label {
    height: 100%;
    width: 100%;
  }

  &__row {
    height: 100%;
    width: 100%;
    display: inline-block;
    align-items: center;
  }

  &__input {
    appearance: none;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: transparent;
    text-shadow: 0 0 0 black;
    cursor: pointer;

    &:checked+.like__icon>.like-heart {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: rgba(188, 156, 255, 1);
      stroke-width: none;
      background-clip: text;
      background-image: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
    }
  }

  &__icon {
    font-size: 0.5em;
    display: inline-block;
    line-height: 10px;
    vertical-align: text-top;
  }

  &__count {
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    color: rgba(31, 32, 65, 0.25);
  }
}