mixin like({count, isCheck, name})
  label.like.row
    input.input_hidden.like__input(type="checkbox", checked=isCheck, name=name)
    span.like__icon.icon-heart 
    input.like__count(value=count) 
