include ../icon-heart/icon-heart.pug

mixin like({count, isCheck, name})
  form.like.js-like
    label.like__label
      input.like__input.js-like__input(type="checkbox", checked=isCheck, name=name)
      span.like__icon
        if(isCheck)
          +icon-heart({colored: true})
        else 
          +icon-heart({colored: false})
    input.like__count.js-like__count(value=count) 
