.card {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 100%;

  &__inner {
    padding: 40px 30px 30px 30px; 
  }

  &__item {
    margin-bottom: 21px;
    &:last-child {
      margin: 30px 0px 0px 0px;
      .row_fill {
        align-items: center;
      }
    }
  }
}