include ../icon-star/icon-star.pug

mixin rate({starsCount})
  .rate 
    - let i = 0
    while i < starsCount 
      +icon-star({theme: 'colored'})
      - ++i
    while i < 5 
      +icon-star({theme: 'empty'})
      - ++i                 
