.rate {
  font-size: 1.5em;
  padding: 0px 2px;
  justify-content: flex-start;
  
  &__item{  
    margin: 0;  
    padding: 0em 0.04em; 
    background-image: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:before {
      margin: 0;
    }
  }  
}