include ../checkbox-list/checkbox-list.pug
include ../icon-open/icon-open.pug

mixin expandable-list({ title = 'title', items = require('@c/expandable-list/expandable-list.json') } = {})
  .expandable-list.js-expandable-list
    .expandable-list__row
      h3.expandable-list__title= title
      button.expandable-list__icon.js-expandable-list__icon 
        +icon-open({ type: 'expandable' })
    .expandable-list__check-list.js-expandable-list__check-list
      +checkbox-list({ items: items })