.expandable-list {
  position: relative;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  &__title {
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }

  &__icon {
    height: 15px;
    line-height: 15px;
    font-size: 0.6em;
    padding: 0em 2em;
    border: none;
    background: none;
    color: rgba(31, 32, 65, 0.5);
    caret-color: transparent;
    cursor: pointer;

    &_active {
      transform: rotateZ(180deg);
    }
  }

  &__check-list {
    position: absolute;
    display: none;
    z-index: 4;
    background: #FFFFFF;
    width: 100%;

    &_active {
      display: block;
    }
  }
}