.catalog {
  &-content {    
    max-width: 834px;
    min-height: 1090px;
  }

  &__title{
    margin: 30px 0px 20px 0px;
  }
}

@media only screen and (max-width: 1150px) {
  .catalog-col {
    margin: auto;
  }
}

@media only screen and (max-width: 860px) {
  .catalog-row {
      flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
  .catalog__title {
    text-align: center;
  }
}