extends ../base/base.pug

block content
  div(class='catalog')
    div(class='container catalog-container')
      div(class='row catalog-row')
        div(class='col')
          include ../../components/filter/filter.pug
        div(class='col catalog-col')
          div(class='catalog__title')
            h1 Номера, которые мы для вас подобрали
          div(class='catalog-content')
            include ../../components/catalog-list/catalog-list.pug
          div(class='caatlog-turn')
            include ../../components/catalog-turn/catalog-turn.pug
    
  