extends ../base/base.pug

block content
  div(class='catalog')
    div(class='container catalog-container')
      div(class='row')
        include ../../components/filter/filter.pug
        div(class='catalog-content')
          include ../../components/catalog-list/catalog-list.pug
    
  