extends ../base/base.pug

block content
  .container
    .catalog
      .catalog__filter
        include ../../components/filter/filter.pug
      .catalog__button
        span.icon-open
      .catalog__list
        .catalog__title
          h1 Номера, которые мы для вас подобрали
        .catalog__content
          include ../../components/catalog-list/catalog-list.pug
        .catalog__pagination
          include ../../components/pagination/pagination.pug
    
  