.catalog {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 3vw;

  &__col {
    width: 100%;
  }

  &__title{
    margin: 30px 0px 20px 0px;
  }

  &__content {    
    min-height: 1090px;
  }
  
  &__pagination {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .catalog__title {
    text-align: center;
  }
}