include count/count.pug

mixin select(array)
  .select    
    each item in array
      .row.select__row
        h3=item
        +count(item)
    if(attributes.class=="select_card")
      .row 
        button.btn.btn_simple.reset очистить
        button.btn.btn_simple применить
        
