include ../count/count.pug

mixin select({items, type})
  .select.js-select
    each item in items
      .select__row
        h3.select__subtitle=item.name
        +count(item.count)
    if(type=="with-buttons")
      .select__row
        .select__reset.js-select__reset
          +button({ theme: 'simple', type: 'reset', text: 'очистить' })
        .select__submit.js-select__submit
          +button({ theme: 'simple', type: 'button', text: 'применить' })
          
