.select {
  padding: 6px 6px 0px 15px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 0px 0px 4px 4px;
  box-sizing: border-box;

  &__row {
    padding-bottom: 7px;
    align-items: center;
  }

  &__reset {
    visibility: hidden;
    &.active {
      visibility: visible ;
    }
  }   
  
  &_card {
    padding-bottom: 6px;
    .select__row {
      &:last-child {
        padding-top: 12px;
      }
  }
}
}

 

