include ../select-content/select-content.pug

mixin select(array)
  div(class='drop select')
    +select-content(array)
    div(class='row select__row select__row_bottom')
      button(type='button', class='btn_submit reset p_light') очистить
      button(type='button', class='btn_submit submit p_light') применить
        
