include ../select-content/select-content.pug

mixin select(array)
  div(class='drop select')
    +select-content(array)
    div(class='row select__row select__row_bottom')
      button(type='button', class='btn_submit reset') 
        h3(class='h3_light') очистить
      button(type='button', class='btn_submit submit')
        h3(class='h3_light') применить
        
