.select {
  padding: 5px 6px 8px 14px;
  display: flex;
  flex-direction: column;
  gap: 7px;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 4px;
    line-height: 15px;
  }

  &__reset-btn {
    visibility: hidden;

    &_active {
      visibility: visible;
    }
  }
}