include count/count.pug

mixin select(array)
  .select    
    each item in array
      .row.select__row
        h3=item
        +count()
    if(attributes.class=="select_card")
      .row.select__row.select__row_buttons 
        button.btn.btn_simple.reset(type="button") очистить
        button.btn.btn_simple.submit(type="button") применить
        
