include ../count/count.pug

mixin select({items, hasButton})
  .select.js-select
    each item in items
      .select__row
        .select__subtitle=item.name
        +count(item.count)
    if(hasButton==true)
      .select__buttons
        .select__reset-btn.js-select__reset-btn
          +button({ theme: 'simple', type: 'reset', text: 'очистить' })
        .select__submit-btn.js-select__submit-btn
          +button({ theme: 'simple', type: 'button', text: 'применить' })
          
