.links {
  display: flex;
  height: 25.45vw;
  align-items: center;
  box-sizing: border-box;

  @media only screen and (max-width: 1024px) {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, minmax(160px, max-content));
    grid-column-gap: 2.74vw;
  }

  &__col {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    align-items: flex-start;
    gap: 20px;

    &_with-info {
      gap: 17px;
    }
  }

  &__logo {
    margin-bottom: 0px;
  }

  &__info {
    margin: 0px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  &__subtitle {
    margin: 4px 0px 1px 0px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }

  &__text {
    padding-top: 1px;
    text-decoration: none;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__form {
    width: 100%;
  }
}