include ../input/input.pug

.links
  .links__container
    .links__col
      .links__logo
        include ../logo/logo.pug
      p.links__info 
        span.links__info-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .links__col
      h3.links__subtitle Навигация 
      a.links__text(href='../../empty.html') О нас
      a.links__text(href='../../empty.html') Новости
      a.links__text(href='../../empty.html') Служба поддержки
      a.links__text(href='../../empty.html') Услуги
    .links__col
      h3.links__subtitle О нас
      a.links__text(href='../../empty.html') О сервисе
      a.links__text(href='../../empty.html') Наша команда
      a.links__text(href='../../empty.html') Вакансии
      a.links__text(href='../../empty.html') Инвесторы
    .links__col
      h3.links__subtitle Служба поддержки
      a.links__text(href='../../empty.html') Соглашение
      a.links__text(href='../../empty.html') Сообщества
      a.links__text(href='../../empty.html') Связь с нами
    .links__col
      h3.links__subtitle Подписка
      p.links__info 
        span.links__info-text Получайте специальные предложения и новости сервиса
      form.links__form           
        +input({type:"subscript", fontType:"e-mail", value:"Email"})
      
