.links {
  display: flex;
  height: 25.7vw;
  align-items: center;
  box-sizing: border-box;

  @media only screen and (max-width: 1024px) {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, minmax(160px, max-content));
    grid-column-gap: 2.74vw;
  }

  &__col {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    align-items: flex-start;
    gap: 13px;
  }

  &__subtitle {
    margin: 4px 0px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }

  &__text {
    text-decoration: none;
  }

  &__form {
    width: 100%;
    margin-top: 8px;
  }

  &__logo {
    margin-bottom: 3px;
  }
}