include ../form/form.pug

.container.links-container
  .row.links-row
    div(class='col links-col')
      include ../logo/logo.pug
      p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div(class='col links-col')
      h3 Навигация 
      p(class='p_nav') О нас
      p(class='p_nav') Новости
      p(class='p_nav') Служба поддержки
      p(class='p_nav') Услуги
    div(class='col links-col')
      h3 О нас
      p(class='p_nav') О сервисе
      p(class='p_nav') Наша команда
      p(class='p_nav') Вакансии
      p(class='p_nav') Инвесторы
    div(class='col links-col')
      h3 Служба поддержки
      p(class='p_nav') Соглашение
      p(class='p_nav') Сообщества
      p(class='p_nav') Связь с нами
    div(class='col links-col')
      h3 Подписка
      p Получайте специальные предложения и новости сервиса
      +form('subscript', "E-mail")
      
