@font-face {
  font-family: 'Montserrat Bold';
  src: url('./Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('./Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('./Quicksand-Bold.ttf') format('truetype');
}