include ../input/input.pug
include ../button/button.pug

mixin sign-in-card()
  .sign-in-card 
    .sign-in-card__inner
      .sign-in-card__item 
        h1.sign-in-card__title Войти
      .sign-in-card__item 
        .sign-in-card__input
          +input({ inputType: "email", placeholder:"Email" })
        .sign-in-card__input
          +input({ inputType: "text", placeholder:"Пароль" })
      .sign-in-card__item
        .sign-in-card__link-button 
          +button({ theme: 'with-arrow', type:"submit", text: 'Войти', icon: true })
      .sign-in-card__item 
        .sign-in-card__row
          p.sign-in-card__text Нет аккаунта на Toxin?
          .sign-in-card__button 
            +button({ theme: 'white', text: 'создать' })
