.sign-in-card {
  max-width: 380px;
  width: 100%;
  max-height: 358px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;  
  background: #FFFFFF;

  @media (max-width: 420px) {
    width: 300px;
  }

  &__inner {
    padding: 40px 30px 30px 30px;

    @media (max-width: 420px) {
      padding: 15px;
    }
  }

  &__item {
    margin-bottom: 21px;

    &:last-child {
      margin-top: 30px;
    }
  }

  &__title {
    margin: 0px;
    line-height: 29px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(31, 32, 65, 1);
  }

  &__input {
    margin-bottom: 8px;
  }

  &__link-button {
    height: 44px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    margin: 0px;
  }

  &__button {
    width: 100px;
    height: 44px;
  }
}