extends ../base/base.pug
include ../../components/input/input.pug

block content  
  div(class='main')
    div(class='container main-container')
      include ../../components/entry-card/entry-card.pug
      div(class='note') 
        p(class='note__p') Лучшие номера для вашей работы, отдыха и просто вдохновения

