extends ../base/base.pug
include ../../components/input/input.pug

block content     
  .container.main-container
    .main-card
      include ../../components/entry-card/entry-card.pug
    .note
      p.note__p Лучшие номера для вашей работы, отдыха и просто вдохновения

block back
  img(src=require("./background.jpg"), alt="background room image")
