.main { 
  &-container {  
    height: 100%;
    min-height: 830px;
    display: grid;
    grid: 
      ".    .    ." 5.7vw
      "card .    ." 374px
      ".    .    ." 1fr  
      ".    . note" 48px
      ".    .    ." 1.6vw
      /380px 1fr 297px
      ;
    @media (max-width: 830px) {
      grid:
      ". . ." 4.8vw
      ". card ." 374px 
      ". . ." 4.8vw
      /1fr 380px 1fr
    }

    .note {  
      grid-area: note;
      @media (max-width: 830px) {
        display: none;
      }
      &__p {
        margin: 0;
        text-align: right;
      }  
    }
    .main-card {
      grid-area: card;
    }
  }
}



