.main { 
  height: 830px; 
  background-image: url("@/pages/index/background.jpg");
  background-size: cover;  

  &-container {
    z-index: 1;
    position: relative;
    height: 100%;
  }
}

.note {  
  position: absolute;  
  height: 48px;
  width: 297px;
  bottom: 21px;
  right: 10px;

  &__p {
    margin: 0;
    text-align: right;
  }  
}

