.main { 
  max-height: 830px; 
  height: 100%;
  display: grid; 

  .main__image {
    grid-area: 1/1/1/1;
    height: 100%;
  }

  &-container {
    grid-area: 1/1/1/1;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows: 374px 1fr;
  }
}

.note {  
  position: absolute;  
  height: 48px;
  width: 297px;
  bottom: 21px;
  right: 10px;

  &__p {
    margin: 0;
    text-align: right;
  }  
}

