include count/count.pug

mixin select-content(array)
  div(class='select-content')
    div(class='row select__row')
      h3=array[0]
      +count()
    div(class='row select__row')
      h3=array[1]
      +count()
    div(class='row select__row')
      h3=array[2]
      +count()