@font-face {
    font-family: "icons";
    src: url("./icons.eot?533394b0c50f95d7734e024a855fae79?#iefix") format("embedded-opentype"), url("./icons.woff2?533394b0c50f95d7734e024a855fae79") format("woff2"), url("./icons.woff?533394b0c50f95d7734e024a855fae79") format("woff"), url("./icons.ttf?533394b0c50f95d7734e024a855fae79") format("truetype"), url("./icons.svg?533394b0c50f95d7734e024a855fae79#icons") format("svg");
}

i[class^="icon-"]:before, span[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
    content: "\f101";
}

.icon-check:before {
    content: "\f102";
}

.icon-heart-empty:before {
    content: "\f103";
}

.icon-heart:before {
    content: "\f104";
}

.icon-open:before {
    content: "\f105";
}

.icon-star-empty:before {
    content: "\f106";
    font-size: 20px;
}

.icon-star:before {
    content: "\f107";
    font-size: 20px;
}