mixin feature({ src = 'comfort.svg', title = 'Комфорт', text = 'Шумопоглощающие стены' } = {})
  - const featureSrc = require("@a/icons/info-icons/" + src)

  .feature.js-feature
    .feature__content
      .feature__icon 
        img.feature__image(src=featureSrc alt=title)
      .feature__col
        p.feature__title= title
        p.feature__text= text    