.feature {
  &:last-child {
    &__divider {
      display: none;
    }    
  }

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 53px 1fr;
    margin: 21px 0px 19px 4px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
  }

  
}