.feature {
  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 13px;
    margin: 21px 0px 19px 4px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0px;
    font-weight: bold;
  }

  &__image {
    margin: 0px auto;
  }

  &__text {
    margin: 0px;
  }
}