extends ../base/base.pug
include ../../components/feature/feature.pug
include ../../components/room-chart/room-chart.pug
include ../../components/review/review.pug
include ../../components/like/like.pug
include ../../components/bullet/bullet.pug
include ../../components/room-card/room-card.pug




block title 
  title Hotel Room

block content
  - const reviews = require("@/pages/room/reviews.json")
  - const features = require("@/pages/room/features.json")

  .room.js-room
    .room__content
      .room__info           
        h2.room__subtitle Сведения о номере
        each feature in features
          .room__feature 
            +feature(feature)
            .room__divider
      .room__chart
        h2.room__subtitle Впечатления от номера              
        +room-chart()
      .room__review 
        .room__row
          h2.room__subtitle Отзывы посетителей номера
          p.room__text 2 отзыва        
        each item in reviews
          +review({ item })
      .room__rules
        h2.room__subtitle Правила 
        +bullet({ items: ["Нельзя с питомцами", "Без вечеринок и мероприятий", 
        "Время прибытия — после 13:00, а выезд до 12:00"] })
      .room__cancel 
        h2.room__subtitle Отмена 
        p.room__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.                
      .room__card
        +room-card()

block view 
  - const context = require.context("@a/images/catalog-images/888/", true, /\.(jpg|png|jpeg)$/)
  - const roomImages = context.keys().map(context);

  .room__view
    each modifier, index in ['first', 'second', 'third']
      .room__photo(class = `room__photo_${modifier}`)
        img.room__image(src=roomImages[index] alt=index + 'room image')

block back 
  .room__back 
    img.room__image(src=require("@a/images/catalog-images/888/888-1.jpg") alt='room image')