.room {
  &__view {
    min-height: width/3;
    display: grid;
    grid: 
    "image1 image2" 1fr
    "image1 image3" 1fr
    /0.68fr 0.32fr; 

    @media(max-width: 800px) {
      grid: "image1";
    }
  }

  &__image {
    &_1 {
      grid-area: image1;
    }
    &_2 {
      grid-area: image2;
      @media(max-width: 800px) {
        display: none;
      }
    }
    &_3 {
      grid-area: image3;
      @media(max-width: 800px) {
        display: none;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    padding-top: 5vw;
    display: grid;
    grid-column-gap: 5vw;
    grid-row-gap: 2vw;
    grid: 
    "info chart card"
    "review review card"
    "rules cancel card" 
    / 1fr   1fr   380px      
    ;

    @media(max-width: 1040px) {   
      grid:
        "info card"
        "chart card"
        "review review"
        "rules cancel"
        /1fr 380px
        ;  
      }
    @media(max-width: 800px) {  
      grid:
        "card"
        "info"
        "chart"
        "review"
        "rules"
        "cancel" 
        /1fr       
        ;  
      }    
  }

  &__info {
    grid-area: info;
    @media(max-width: 800px) {
      margin: auto;
    }
  }
  &__chart {
    grid-area: chart;
    @media(max-width: 800px) {
      margin: auto;
    }
  }
  &__review {
    grid-area: review;
    .row {
      align-items: center;
    }
  }
  &__card {
    grid-area: card;
    @media(max-width: 800px) {
      margin: auto;
    }
  }
  &__rules {
    grid-area: rules;
  }
  &__cancel {
    grid-area: cancel;
  }
}