extends ../base/base.pug
include ../../components/icon-text/icon-text.pug
include ../../components/chart/chart.pug
include ../../components/review/review.pug
include ../../components/like/like.pug

block content
  .room
    .room-image
      div 
        img(src=require('../../components/catalog-list/img/888/888-1.png'))
      .room-image-col
        div   
          img(src=require('../../components/catalog-list/img/888/888-2.png'))
        div 
          img(src=require('../../components/catalog-list/img/888/888-3.png'))
    .container.room-container
      .room-info           
        h2 Сведения о номере
        +icon-text('Комфорт', 'Шумопоглощающие стены')
        +icon-text('Удобство', 'Окно в каждой из спален')
        +icon-text('Уют', 'Номер оснащён камином')
      .room__chart
        h2 Впечатления от номера              
        +chart(260, [130, 65, 65, 0])
      .room__review 
        .row
          h2 Отзывы посетителей номера
          p 2 отзыва
        -const data = require("@c/review/review.json")
        +review(data)
      .room__rules
        h2 Правила 
      .room__cancel 
        h2 Отмена 
        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.                
      .room__card
        include ../../components/room-card/room-card.pug
