.room {
  &-image {
    min-height: width/3;
    display: grid;
    grid-template-columns: 0.68fr 0.32fr;

    &-col {
      display: grid;
      grid-template-rows: 1fr 1fr;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-container {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 0.65fr 380px;
    grid-column-gap: 6%;

    //710px
    .info {
      display: grid;
      grid-template-columns: 0.45fr 0.55fr; //280px 350px
      grid-column-gap: 11%; //80px
    }

    .rules {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      grid-column-gap: 10%; //70px
    }
  }
}