.room {
  &__content {
    padding-top: 5vw;
    padding-bottom: 4.3vw;
    display: grid;
    grid-column-gap: 4.8vw;
    grid-row-gap: 0.8vw;
    grid:
      "info chart card"
      "review review card"
      "rules cancel card"
      /minmax(280px, 290px) minmax(320px, 1fr) 380px;

    @media(max-width: 1120px) {
      grid:
        "info card"
        "chart card"
        "review review"
        "rules cancel"
        /1fr minmax(380px, 1fr);
    }

    @media(max-width: 770px) {
      grid:
        "card card"
        "info chart"
        "review review"
        "rules cancel"
        /1fr 1fr;
    }

    @media(max-width: 640px) {
      grid:
        "card"
        "info"
        "chart"
        "review"
        "rules"
        "cancel"
        /1fr;
    }
  }

  &__view {
    height: 33.5vw;
    display: grid;
    grid:
      "photo1 photo2" 50% "photo1 photo3" 50% /0.68fr 0.32fr;

    @media(max-width: 770px) {
      display: none;
    }
  }

  &__back {
    display: none;

    @media(max-width: 770px) {
      display: block;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 19px;

    @media(max-width: 770px) {
      margin-bottom: 0px;
    }

    @media(max-width: 640px) {
      margin: 35px 0px 15px 0px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;

    @media(max-width: 770px) {
      margin: 25px 0px;
    }

    @media(max-width: 640px) {
      text-align: center;
    }
  }

  &__info {
    grid-area: info;

    @media(max-width: 800px) {
      margin: auto;
    }
  }

  &__feature {
    &:last-child {
      .room__divider {
        display: none;
      }
    }
  }

  &__divider {
    height: 1px;
    max-width: 280px;
    width: 100%;
    background: rgba(31, 32, 65, 0.1);
  }

  &__chart {
    grid-area: chart;
    height: 100%;

    @media(max-width: 800px) {
      margin: auto;
    }
  }

  &__review {
    grid-area: review;

    &-list {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
    }
  }

  &__text {
    margin: 0px;
  }

  &__card {
    grid-area: card;

    @media(max-width: 800px) {
      margin: auto;
    }

    @media(max-width: 350px) {
      margin: 0px;
    }
  }

  &__rules {
    grid-area: rules;
    max-width: 260px;

    .room__subtitle {
      padding: 0px 0px 18px 20px;

      @media(max-width: 770px) {
        padding: 0px;
      }
    }

    @media(max-width: 640px) {
      max-width: 100%;
    }
  }

  &__cancel {
    grid-area: cancel;
    max-width: 340px;

    .room__subtitle {
      padding: 0px 0px 18px 0px;

      @media(max-width: 770px) {
        padding: 0px;
      }
    }

    @media(max-width: 640px) {
      max-width: 100%;
    }
  }

  &__photo {
    height: max-content;

    @media(max-width: 770px) {
      height: 100%;
    }

    &_first {
      grid-area: photo1;
    }

    &_second {
      grid-area: photo2;

      @media(max-width: 770px) {
        display: none;
      }
    }

    &_third {
      grid-area: photo3;

      @media(max-width: 770px) {
        display: none;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}