extends ../base/base.pug
include ../../components/feature/feature.pug
include ../../components/chart/chart.pug
include ../../components/review/review.pug
include ../../components/like/like.pug
include ../../components/bullet/bullet.pug

block content
  .room
    .room__content
      .room__info           
        h2.room__subtitle Сведения о номере
        +feature('Комфорт', 'Шумопоглощающие стены')
        .room__divider
        +feature('Удобство', 'Окно в каждой из спален')
        .room__divider
        +feature('Уют', 'Номер оснащён камином')
      .room__chart
        h2.room__subtitle Впечатления от номера              
        +chart(selectedRoom.review)
      .room__review 
        .room__row
          h2.room__subtitle Отзывы посетителей номера
          p.room__text 2 отзыва
        -const data = require("@c/review/review.json")
        +review(data)
      .room__rules
        h2.room__subtitle Правила 
        +bullet(["Нельзя с питомцами", "Без вечеринок и мероприятий", 
        "Время прибытия — после 13:00, а выезд до 12:00"])
      .room__cancel 
        h2.room__subtitle Отмена 
        p.room__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.                
      .room__card
        include ../../components/room-card/room-card.pug

block view 
  -const selectedRoom = require("@/pages/room/room.json")
  -function roomRequireAll(requireContext) { return requireContext.keys().map(requireContext) };
  -const roomImages = roomRequireAll(require.context("@a/images/catalog-images/888/", true, /\.(jpg|png|jpeg)$/));

  .room__view
    .room__photo.room__photo_1
      img.room__image(src=roomImages[0] alt='room image')
    .room__photo.room__photo_2
      img.room__image(src=roomImages[1] alt='room image')
    .room__photo.room__photo_3
      img.room__image(src=roomImages[2] alt='room image')