.filter {
  min-width: 266px;
  width: 100%;
  padding-top: 2vw;

  @media only screen and (max-width: 900px) {
    z-index: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &__col {
    display: flex;
    flex-direction: column;
    max-width: 266px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__slider {
    margin: 10px 0px;
  }

  &__expandable {
    position: relative;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 0px 0px;
    height: 20px;
    margin-bottom: 5px;
  }
}