.filter {
  width: 266px;
  padding: 25px 10px 0px 0px;

  .form {
    margin: 0px 0px 30px 0px;

    &:first-child {
      margin: 0px 0px 20px 0px;
    }
  }
  .input {
    width: 100%;
  }

  .drop {
    width: 100%;
  }    
  
}