include ../form/form.pug
include ../calendar/calendar.pug
include ../slider/slider.pug 
include ../checkbox-list/checkbox-list.pug
include ../icon-open/icon-open.pug
include ../drop/drop.pug

.filter.js-filter
  .filter__item
    .filter__date
      h3.filter__subtitle даты пребывания в отеле
      +form({
        inputDate: {value: '19 авг - 23 авг'}, 
        dropDate: {type: 'calendar', id: 'filter'}
      }) 
    .filter__guests
      h3.filter__subtitle гости
      +form({
      inputDate: {value: '19 авг - 23 авг'}, 
      dropDate: {
        type: 'guests', 
        items: [{name: "Взрослые", amount: 3}, {name: "Дети", amount: 0}, {name: "Младенцы", amount: 1}]
        }
      }) 
  .filter__item
    .filter__slider
      +slider({type:"filter", title:"диапазон цены", text:"Стоимость за сутки пребывания в номере"})
  .filter__item 
    .filter__checkbox
      h3.filter__subtitle правила дома     
      +checkbox-list([{id:"smoke", text:"Можно курить"}, {id:"pet", text:"Можно с питомцами", checked:true}, {id:"invite", text:"Можно пригласить гостей \n(до 10 человек)", checked:true}])    
  .filter__item 
    .filter__checkbox
      h3.filter__subtitle доступность
      +checkbox-list([
        {id:"corridor", text:"Широкий коридор", subtext:"Ширина коридоров в номере \nне менее 91 см."}, {id:"assistant", text:"Помощник для инвалидов", subtext:"На 1 этаже вас встретит специалист \nи проводит до номера."}]) 
  .filter__item 
    h3.filter__subtitle удобства номера
    +form({
      dropDate: {
        type: "placement", 
        items: [{name: "Спальни", amount: 2}, {name: "Кровати", amount: 2}, {name: "Ванные комнаты", amount: 0}]
        }
      })
  .filter__item 
    .filter__expandable-list
      .filter__row
        h3.filter__subtitle дополнительные удобства
        .filter__icon.js-filter__icon 
          +icon-open('expandable')
      +drop({
        type: 'checkbox', 
        items: [
        {id:"breakfast", text:"Завтрак"}, 
        {id:"table", text:"Письменный стол", checked:true}, 
        {id:"chair", text:"Стул для кормления", checked:true}, 
        {id:"crib", text:"Кроватка", checked:true}, 
        {id:"TV", text:"Телевизор"}, 
        {id:"shampoo", text:"Шампунь"}]
      })
