.filter {
  min-width: 266px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media only screen and (max-width: 900px) {
    z-index: 2;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    grid-column-gap: 40px;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &__date {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }

  &__expandable {
    position: relative;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  &__icon {
    height: 100%;
    line-height: 1em;
    font-size: 0.6em;
    padding: 0.5em 2em;

    &_expanded {
      transform: rotateZ(180deg);
    }
  }
}