include ../form/form.pug
include ../checkbox/checkbox.pug
include ../calendar/calendar.pug
include ../slider/slider.pug 

.filter
  .col
    .filter__item
      h3 даты пребывания в отеле
      +form(
        /*category=*/ "calendar", 
        /*array*/ [],
        /*value*/ "19 авг - 23 авг") 
    .filter__item
      h3 гости
      +form( 
        /*category=*/ "guests", 
        /*array*/ [{name: "Взрослые", count: 3}, {name: "Дети", count: 0}, {name: "Младенцы", count: 1}]) 
    +slider("filter", "диапазон цены", "Стоимость за сутки пребывания в номере")
    form(class='form form_checkbox')
      h3 правила дома
      div
        +checkbox("Можно курить", id="smoke")(class='p_lightGrey')
        +checkbox('Можно с питомцами', id='pets')(class='p_lightGrey')
        +checkbox('Можно пригласить гостей (до 10 человек)', id='invite')(class='p_lightGrey')
  .col
    form(class='form form_checkbox')
      h3 доступность
      div
        +checkbox('Широкий коридор', id='corridor', 'Ширина коридоров в номере не менее 91 см.')(class='p_bold')
        +checkbox('Помощник для инвалидов', id='invalid', 'На 1 этаже вас встретит специалист и проводит до номера.')(class='p_bold')
    +form("удобства номера", "text")(class="dropdown")
    form(class='form')
      div(class='row')
        h3 дополнительные удобства
        button(type='button', class='btn_open btn_open_facilities icon-down-open') 
      div(class='drop drop_facilities')
        +checkbox('Завтрак', id='breakfast')(class='p_lightGrey')
        +checkbox('Письменный стол', id='table')(class='p_lightGrey')
        +checkbox('Стул для кормления', id='babyChair')(class='p_lightGrey')
        +checkbox('Кроватка', id='bed')(class='p_lightGrey')
        +checkbox('Телевизор', id='tv')(class='p_lightGrey')
        +checkbox('Шампунь', id='shampoo')(class='p_lightGrey')