include ../form-pair-date/form-pair-date.pug
include ../form-guests/form-guests.pug
include ../form-placement/form-placement.pug
include ../slider/slider.pug 
include ../checkbox-list/checkbox-list.pug
include ../expandable-list/expandable-list.pug

mixin filter()
  .filter.js-filter
    .filter__item
      .filter__date.js-filter__date
        h3.filter__subtitle даты пребывания в отеле
        +form-pair-date({ value: '19 авг - 23 авг', id: 'filter' }) 
      .filter__guests.js-filter__guests
        h3.filter__subtitle гости
        +form-guests({
          items: [{name: "Взрослые", amount: 3}, {name: "Дети", amount: 0}, {name: "Младенцы", amount: 1}]
        }) 
    .filter__item
      .filter__slider
        +slider({type:"filter", title:"диапазон цены", text:"Стоимость за сутки пребывания в номере"})
    .filter__item 
      .filter__checkbox
        h3.filter__subtitle правила дома     
        +checkbox-list([{id:"smoke", text:"Можно курить"}, {id:"pet", text:"Можно с питомцами", checked:true}, {id:"invite", text:"Можно пригласить гостей \n(до 10 человек)", checked:true}])    
    .filter__item 
      .filter__checkbox.filter__checkbox_rich
        h3.filter__subtitle доступность
        +checkbox-list([
          {id:"corridor", text:"Широкий коридор", subtext:"Ширина коридоров в номере \nне менее 91 см."}, {id:"assistant", text:"Помощник для инвалидов", subtext:"На 1 этаже вас встретит специалист \nи проводит до номера."}]) 
    .filter__item 
      .filter__placement.js-filter__placement
        h3.filter__subtitle удобства номера
        +form-placement({
          items: [{name: "Спальни", amount: 2}, {name: "Кровати", amount: 2}, {name: "Ванные комнаты", amount: 0}],
          })
    .filter__item 
      .filter__expandable-list.js-filter__expandable-list
        +expandable-list({title: 'дополнительные удобства'})
