include ../rate/rate.pug
include ../carousel/carousel.pug

mixin catalog-card(item)
  .catalog-item
    +carousel(item.num)
    .catalog-item__content
      .row.row_start
        h4.catalog-item__num
          span N
          span.catalog-item__num_big= item.num
          if(item.luxury) 
            span.catalog-item__num_light люкс
        p.catalog-item__cost
          b= item.cost 
          span р в сутки
      .catalog-item__divider
      .row.row_fill
        +rate(item.stars)                 
        p.p_lightGrey
          b= item.review 
          span отзывов