include ../rate/rate.pug
include ../carousel/carousel.pug

mixin catalog-card(item)
  .catalog-item
    +carousel(item.num)
    .catalog-item__content
      .row
        h4.catalog-item__num №
        h2.catalog-item__num_big= item.num
        h3.catalog-item__num_light= item.luxury?"люкс":""
        .catalog-item__cost_bold= item.cost.toLocaleString() + '₽'
        p.catalog-item__cost_small в сутки
      .catalog-item__divider
      .row.row_fill
        +rate(item.stars)                 
        p.catalog-item__review
          span.catalog-item__review_bold= item.review 
          span Отзывов