include ../drop-buttons/drop-buttons.pug

mixin calendar(options)  
  - const id = options.id || ''

  .calendar.js-calendar
    .calendar__dp.js-calendar__dp(id=`js-calendar-${id}`)
    .calendar__buttons 
      +drop-buttons()
    