include ../button/button.pug

mixin calendar({id, hasButton=false})  
  .calendar
    .calendar__dp(class='calendar__dp_'+id)
    if(hasButton)
      .calendar__row
        .calendar__btn.js-calendar__btn_reset
          +button({ theme: 'simple', type: 'reset', text: 'очистить' })
        .calendar__btn.js-calendar__btn_submit
          +button({ theme: 'simple', type: 'button', text: 'применить' })