mixin calendar(type)  
  .calendar.calendar__container
    div(class=type)
    if(attributes.class=="select_card")
      .row.row_fill.calendar__row
        button.btn.btn_simple.calendar__reset.js-calendar__reset(type="reset") очистить
        button.btn.btn_simple.submit.js-submit(type="button") применить