mixin calendar(type)
  .drop
    .card.calendar-card
      div(class=type)
      if(attributes.class=="select_card")
        .row.row_fill.calendar__row
          button.btn.btn_simple.calendar__reset(type="reset") очистить
          button.btn.btn_simple.submit(type="button") применить