mixin count(count)
  .count  
    button.count__btn.count__btn_with-minus.js-count__btn_with-minus(type='button') -
    input.count__num.js-count__num(type="text" value=count)
    button.count__btn.count__btn_with-plus.js-count__btn_with-plus(type='button') +