@font-face {
  font-family: 'Montserrat';
  font-style: normal;
	font-weight: bold;
  src: url('Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
	font-weight: normal;
  src: url('Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
	font-weight: bold;
  src: url('Quicksand-Bold.ttf') format('truetype');
}

$darkShade: rgba(31,32,65,1);
$purple: #BC9CFF;
$green: #6FCF97;
$white: #FFFFFF;

//основной шрифт
html, body, p, input, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(31,32,65,0.75);
}

h1, h2, h3, h4 {
  font-weight: bold;  
  color: $darkShade;
}

//Заголовки страниц
h1 {
  font-size: 24px;
  line-height: 29px;  
  margin: 0;
}

//Подзаголовки на странице room
h2 {  
  font-size: 19px; 
  line-height: 23px;
}

//Заголовки форм
h3 {  
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 5px 0px;
}

//Номера комнат
h4 {  
  font-size: 14px;
  line-height: 17px;
  margin: 0px;
}

p {
  margin: 0;
}

.p {
  //чекбоксы фильтра с начертанием bold
  &_bold {
    font-weight: bold;
    line-height: 18px;
  }
  //header и некоторые столбцы footer
  &_nav {
    line-height: 17px;
    color: rgba(31,32,65,0.5);
  }

  //более светлые тексты, чаще в filter
  &_lightGrey {
    line-height: 18px;
    color: rgba(31,32,65,0.5);
  }

  //номера в календаре и тексты с маленьким шрифтом
  &_small {
    font-size: 12px;
    line-height: 14px;
    color: rgba(31,32,65,0.5);
  }   
}