body {
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-family: 'Montserrat Bold', sans-serif;;
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
  margin: 0;
}

h3 {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #1F2041;
  margin: 5px 0px;
}

.h3_light{
  color: #BC9CFF;
}

p{
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 14px;  
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.p{
  &_dark{
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
  } 
  &_light {
    color: rgba(31, 32, 65, 0.25);
    line-height: 24px;
  }
  &_input {
    color: rgba(31, 32, 65, 0.75);
    line-height: 18px;
    padding: 0px 0px 0px 15px;
  }
}


.container {
  max-width: 1160px;
  padding: 0px 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
}




