include ../catalog-item/catalog-item.pug

mixin catalog-list()
  - const data = require('@c/catalog-list/catalog-list.json')
  .catalog-list.js-catalog-list
    each item in data  
      .catalog-list__item.js-catalog-list__item 
        +catalog-item(item)
    