.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 12px;

  @media only screen and (max-width: 1150px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.catalog-item {
  position: relative;
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin: 0px 0px 20px 0px;
  font-weight: bold; 
  cursor: pointer;

  &-row {
    height: 53px;
    align-items: center;
    padding: 0px 20px;
  }   

  &__divider {
    position: absolute;
    left: 20px;
    width: 230px;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
  }

  .stars {
    font-size: 24px;
    .icon-star{
      
      color: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
    }
    
  }
}

.carousel {
  height: 151px;
  position: relative;

  &-mover {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width: 4200/270%;
    font-size: 24px;
    line-height: 24px;
    color: #fff;

    &__btn {
      display: none;
    }
  }

  &:hover {
    .carousel-mover {      
      &_left {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      }

      &_right {
        right: 0;
        left: auto;
        background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%)
      }
      
      &__btn {
        display: inline-block;
      }
    }           
  }
  
  &-indicators {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
    padding: 0;

    li {
      margin: 0px 0px 0px 4px;
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;

      &.active {
        background-color: #fff;
      }
    }
  }
}

