include ../catalog-item/catalog-item.pug
include ../../components/pagination/pagination.pug

mixin catalog-list({} = {})
  - const data = require('@c/catalog-list/catalog-list.json')
  
  .catalog-list.js-catalog-list
    ul.catalog-list__list.js-catalog-list__list
      each item in data  
        li.catalog-list__item.js-catalog-list__item 
          +catalog-item({ num, luxury, cost, stars, review } = item)
    .catalog-list__pagination
      .catalog-list__pagination-content
          +pagination()
    