mixin bullet({ items = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"] })
  .bullet
    each item in items 
      .bullet__row
        .bullet__ellipse 
        .bullet__text= item