.bullet {
  margin: 0px;
  padding: 0px;
  list-style-type: none;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: baseline;
    padding-bottom: 10px;
  }

  &__ellipse {
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
  }

  &__text {
    margin: 0px;
    white-space: pre-wrap;
  }
}
