include ../input/input.pug
include ../button/button.pug

.signin-card 
  .signin-card__inner
    .signin-card__item 
      h1.signin-card__title Войти
    .signin-card__item 
      .signin-card__input
        +input({type: "empty", fontType: "Email", placeholder:"Email"})
      .signin-card__input
        +input({type: "empty", fontType: "text", placeholder:"Пароль"})
    .signin-card__item
      .signin-card__link-button 
        +button({theme: 'with-arrow', type:"submit", text: 'Войти', icon: true})
    .signin-card__item 
      .signin-card__row
        p.signin-card__text Нет аккаунта на Toxin?
        .signin-card__button 
          +button({theme: 'white', text: 'создать'})
