include ../input/input.pug

.card.signin-card 
  .card-inner
    .card-item 
      h1 Войти
    .card-item 
      +input("text", "Email")
      +input("text", "Пароль")
    .card-item 
      button.btn.btn_link Войти
        span.icon-arrow
    .card-item 
      .row.row_fill 
        p Нет аккаунта на Toxin?
        button.btn.btn_white создать
