extends ../base/base.pug

block content  
  .signin
    .signin__content
      include ../../components/signin-card/signin-card.pug

block back
  .signin__back
    img.signin__image(src=require("@a/images/background-images/login.jpg"), alt="background room image")