extends ../base/base.pug

block content  
  .signin
    .signin__content
      include ../../components/signin-card/signin-card.pug

block back
  img.signin__back(src=require("@a/images/background-images/login.jpg"), alt="background room image")