extends ../base/base.pug

block content  
  .signin
    .container
      include ../../components/signin-card/signin-card.pug

block back
  .signin__back
    img(src=require("@/pages/login/login.jpg"), alt="background room image")