.icon-check {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  display: inline-block;
  width: 100%;
  height: 100%;
  caret-color: transparent;
  background-clip: text;

  &:before {
    content: "\f103";
    font-size: 0.8em;
    vertical-align: text-top;
    margin-left: 0.4em;
  }
}