include ../rate/rate.pug
include ../carousel/carousel.pug

mixin catalog-item({ num = 888, luxury = true, cost = 9990, stars = 5, review = 145 } = {})
  .catalog-item.js-catalog-item 
    +carousel({ num: num})
    .catalog-item__content.js-catalog-item__content
      p.catalog-item__row.catalog-item__row_first
        span.catalog-item__num-sign № 
        span.catalog-item__num= num
        if(luxury)
          span.catalog-item__lux люкс
        span.catalog-item__cost= cost.toLocaleString() + '₽'
        span.catalog-item__cost-text в сутки
      .catalog-item__divider
      .catalog-item__row.catalog-item__row_second
        +rate({ starsCount: stars})                 
        p.catalog-item__review
          span.catalog-item__text.catalog-item__text_bold= review 
          span.catalog-item__text Отзывов