include ../rate/rate.pug
include ../carousel/carousel.pug

mixin catalog-item(item)
  .catalog-item.js-catalog-item 
    +carousel({num: item.num})
    .catalog-item__content.js-catalog-item__content
      .catalog-item__row.catalog-item__row_first
        .catalog-item__num-sign № 
        .catalog-item__num= item.num
        if(item.luxury)
          .catalog-item__lux люкс
        .catalog-item__cost_bold= item.cost.toLocaleString() + '₽'
        .catalog-item__cost_small в сутки
      .catalog-item__divider
      .catalog-item__row.catalog-item__row_second
        +rate({starsCount: item.stars})                 
        .catalog-item__review
          .catalog-item__text.catalog-item__text_bold= item.review 
          .catalog-item__text Отзывов