include ../../components/header/header.pug

//-<!DOCTYPE html>
doctype html 
html
  head
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>MetaLamp website</title>
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png?v=pgra65AAnN2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=pgra65AAnN2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=pgra65AAnN2">
    <link rel="manifest" href="/favicons/site.webmanifest?v=pgra65AAnN2">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=pgra65AAnN2" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  body
    .body 
      //-background-image of page      
      .body__back 
        block back
      header.body__header 
        .body__container       
          +header()
      main.body__main
        .body__container  
          block content     
      footer.body__footer
        .body__container 
          include ../../components/links/links.pug
          include ../../components/rights/rights.pug