.wrapper {  
  display: grid; 
  grid-template: min-content 1fr min-content / 100%;

  @media only screen and (max-width: 1024px) {
    grid-template: min-content 1fr min-content / 100%;
  }

  .back {
    grid-area: 1/1/span 2/span 1;
    height: 100%;
    max-height: 900px;
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
  }

  header {
    grid-area: 1/1;
  }

  main {
    grid-area: 2/1;
  }
  
  footer {
    grid-area: 3/1;
  }
}