//-<!DOCTYPE html>
doctype html
html
  head
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
  body
    .wrapper
      //-background-image of page
      .back 
        block back
      header
        include ../../components/header/header.pug
        +header()
      main
        block content     
      footer
        include ../../components/footer/footer.pug