//-<!DOCTYPE html>
doctype html
html
  head
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
  body
    .wrapper
      include ../../components/header/header.pug
      main
        block content
      include ../../components/footer/footer.pug