//-<!DOCTYPE html>
doctype html
html
  head
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
  body
    .wrapper
      //-background-image of page
      .back 
        block back
      header
        include ../../components/header/header.pug
      main
        block content
      //-part of footer with links
      .links 
        include ../../components/links/links.pug
      footer
        include ../../components/footer/footer.pug