.header 
  .container.header-container
    include ../logo/logo.pug
    nav
      ul.topmenu    
        li 
          a(href='../../empty.html') О нас
        li.submenu-link 
          a(href='../../empty.html') Услуги
            span.icon-open
          ul.submenu 
            li 
              a(href='../../empty.html') Услуга 1
            li 
              a.p_nav(href='../../empty.html') Услуга 2
            li 
              a.p_nav(href='../../empty.html') Услуга 3
            li 
              a.p_nav(href='../../empty.html') Услуга 4
        li 
          a(href='./empty.html') Вакансии
        li 
          a(href='./empty.html') Новости
        li.submenu-link
          a(href='./empty.html') Соглашения
            span.icon-open
          ul.submenu 
            li 
              a(href='./empty.html') Соглашения 1
            li 
              a(href='./empty.html') Соглашения 2
            li 
              a(href='./empty.html') Соглашения 3
            li 
              a(href='./empty.html') Соглашения 4
            li 
              a(href='./empty.html') Соглашения 5
      button.btn.btn_header.btn_header-login.p_light войти            
      button.btn.btn_header.btn_header-register.p_blue зарегистрироваться
    include nav-btn/nav-btn.pug