.header {
  min-height: 70px;
  height: 100%;
  display: grid;
  grid-template: 100% / 1fr max-content max-content;
  grid-column-gap: 20px;
  align-items: center;

  @media (max-width: 924px) {
    grid:
      "logo reg burger"60px "nav nav nav"max-content /1fr max-content max-content;
  }

  @media (max-width: 600px) {
    grid:
      "logo burger"60px "reg reg"max-content "nav nav"max-content /1fr max-content;
  }

  &__logo {
    @media (max-width: 924px) {
      grid-area: logo
    }
  }

  &__nav {
    @media (max-width: 924px) {
      grid-area: nav;
      background-color: #fff;
    }
  }

  &__registration {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 34px;

    @media (max-width: 924px) {
      grid-area: reg
    }

    @media (max-width: 600px) {
      display: none;
    }

    &_for-mobile {
      @media (max-width: 600px) {
        display: flex;
        margin: auto;
      }
    }
  }

  &__divider {
    height: 30px;
    width: 1px;
    background-color: rgba(31, 32, 65, 0.5);
  }

  &__name {
    line-height: 35px;
  }

  &__sign-in-button{
    width: 87px;
  }

  &__log-in-button{
    width: 196px;
  }

  &__burger {
    @media (max-width: 924px) {
      grid-area: burger
    }
  }
}