include ../logo/logo.pug
include ../nav/nav.pug
include ../button/button.pug
include ../burger/burger.pug


mixin header({ isRegistered = false })
  .header.js-header
    .header__logo
      +logo()
    .header__nav
      +nav()
    .header__registration.js-header__registration
      if(isRegistered)
        .header__divider 
        .header__name Юлий Цезарь                  
      else  
        .header__sign-in-button.js-header__sign-in-button
          +button({theme: 'white', text: 'войти'})   
        .header__log-in-button.js-header__log-in-button
          +button({theme: 'blue', text: 'зарегистрироваться'})
    .header__burger
      +burger()
      