.header-container { 
  height: 100%;    
  display: grid;
  grid-template-columns: min-content min-content; 
  justify-content: space-between;
  align-items: center;


  .menu-list {
    display: grid;
    grid-template-columns: repeat(7, min-content);
    grid-column-gap: 20px;
    overflow: auto;   
    list-style-type: none; 
    align-items: center;
    white-space: nowrap;
    @media (max-width: 924px) {
      display: none;
      width: 100%;    
    }
      li {
        @media only screen and (max-width: 924px) {
          margin: 10px;
        }
        &.row {
          align-items: center;
        }
        p {
          line-height: 17px;
        } 
        .icon-down-open {
          width: 24px;
          height: 21px;
          &:before {
            color: rgba(31, 32, 65, 0.5);
            margin: 0;
            line-height: 0; 
            width: 24px;
          }       
        }     
      
    } 
    &.active-menu {
      display: grid;
    }   
  }
  .sub-menu-list {
    display: none;
  }
}

  
  
