header
  .container.header-container
    include ../logo/logo.pug
    nav 
      ul
        li 
          p.p_nav О нас
        li.row 
          p.p_nav Услуги
          i.icon-down-open
        li 
          p.p_nav Вакансии
        li 
          p.p_nav Новости
        li.row
          p.p_nav Соглашения
          i.icon-down-open
        li
          button.btn.btn_header.btn_header-login.p_light войти            
        li
          button.btn.btn_header.btn_header-register.p_blue зарегистрироваться
    .nav-btn
      span