header(class='header')
  div(class='container header-container')
    include ../logo/logo.pug
    div(class='nav') 
      ul(class='nav-list')
        li 
          p О нас
        li 
          p Услуги
        li 
          p Вакансии
        li 
          p Новости
        li 
          p Соглашения
        li
          button(class='btn btn_header btn_header-login') войти
        li
          button(class='btn btn_header btn_header-register') зарегистрироваться