include ../logo/logo.pug
include ../nav/nav.pug
include ../button/button.pug
include ../burger/burger.pug


mixin header({ isRegistered = false } = {})
  .header.js-header
    .header__logo
      +logo()
    .header__nav
      +nav()
    .header__registration.js-header__registration
      if isRegistered
        .header__divider 
        p.header__name Юлий Цезарь                  
      else  
        .header__sign-in-button.js-header__sign-in-button
          +button({theme: 'white', text: 'войти', href: '/pages/sign-in.html'})   
        .header__register-button.js-header__register-button
          +button({theme: 'blue', text: 'зарегистрироваться', href: '/pages/register.html'})
    .header__burger
      +burger()
      