header(class='header')
  div(class='container header-container')
    include ../logo/logo.pug
    div(class='nav') 
      ul(class='nav-list')
        li 
          p(class='p_nav') О нас
        li 
          p(class='p_nav') Услуги
        li 
          p(class='p_nav') Вакансии
        li 
          p(class='p_nav') Новости
        li 
          p(class='p_nav') Соглашения
        li
          button(class='btn btn_header btn_header-login p_light') войти            
        li
          button(class='btn btn_header btn_header-register p_blue') зарегистрироваться