.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } 

  &__topmenu { 
    display: flex;
    gap: 20px;  

    @media (max-width: 924px) {
      display: none;
      width: 100%; 
      gap: 0px;
      line-height: 3em;      

      &_mobile {
        display: flex;
        flex-direction: column;   
        align-items: center;         
      }   
    }              
  }

  &__item {
    a {
      &:hover, &:focus {
        font-weight: bold;
        color: rgba(31, 32, 65, 0.75);
      } 
    }
    &_link {
      display: grid;
      grid-template-rows: max-content max-content;
      span {
        font-size: 0.6em;
        padding: 0.8em;
        display: inline-block;
        transform: rotateZ(-90deg);       
      }
    }      
  }

  &__submenu {    
    display: none;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    width: 100%;

    li {
      padding: 5px;
      white-space: nowrap;
      a {
      &:hover, &:focus {
        font-weight: bold;
        color: rgba(31, 32, 65, 0.75);
      } 
    }
    }
    &.open {
      display: flex;
    }
  }

  &__down {
    cursor: pointer;
  }  
}