.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } 

  &__topmenu { 
    display: flex;
    gap: 20px; 
    align-items: center;   

    @media (max-width: 924px) {
      display: none;
      width: 100%; 
      gap: 0px;
      line-height: 3em;      

      &_mobile {
        display: flex;
        flex-direction: column;            
      }   
    }
    li {
      position: relative;
      &:hover, &:focus {            
        > a {
          display: block;
          font-weight: bold;
          color: rgba(31, 32, 65, 0.75);
        }
      }
      span {
        font-size: 0.6em;
        padding: 0.8em;
        display: inline-block;
        transform: rotateZ(-90deg);       
      }  
    }          
    }
  &__submenu {
    grid-area: sub-nav;
    display: none;
    flex-direction: column;
    //position: absolute;
    background: #fff;
    padding: 10px;
    width: 100%;
    z-index: 5;
    //right: 0;

    @media (max-width: 924px) {
      left: 110px;
      top: 0px;
    }

    li {
      padding: 5px;
      white-space: nowrap;
    }
    &.open {
      display: flex;
    }
  }
  &__down {
    cursor: pointer;
  }  
}