.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } 

  &__topmenu { 
    display: flex;
    flex-direction: row;
    gap: 20px;  

    @media (max-width: 924px) {
      display: none;
      width: 100%; 
      gap: 0px;
      line-height: 3em;      

      &_mobile {
        display: flex;
        flex-direction: column;   
        align-items: center;         
      }   
    }              
  }

  &__item {    
    > a {
      display: block;
      line-height: 2.9em;
      &:hover, &:focus {        
        font-weight: bold;
        color: rgba(31, 32, 65, 0.75);
      } 
    }
    &_link {
      display: grid;
      grid-template-rows: 40px max-content;
      align-items: center;
      > a {
        line-height: 1.9em;
      }
      span {
        font-size: 0.6em;
        padding: 0.8em;
        display: inline-block;
        @media (max-width: 924px) {
          transform: rotateZ(-90deg);
        }               
      }
    }      
  }

  &__submenu {    
    display: none;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    width: 100%;
    z-index: 60;

    li {
      padding: 5px;
      white-space: nowrap;
      a {
      &:hover, &:focus {
        font-weight: bold;
        color: rgba(31, 32, 65, 0.75);
      } 
    }
    }
    &.open {
      display: flex;
    }
  }

  &__down {
    cursor: pointer;
  }  
}