include ../icon-open/icon-open.pug

mixin carousel({ num = 888 } = {})  
  //-import all images from directory of this number as array "images"
  - const context = require.context("@a/images/catalog-images/", true, /\.(jpg|png|jpeg)$/)
  - const images = context.keys().filter(el => el.includes(num)).map(context);  

  .carousel.js-carousel
    ul.carousel__slide-list.js-carousel__slide-list
      each image in images
        li.carousel__slide.js-carousel__slide   
          img.carousel__image(src=image alt='room image')
    .carousel__mover.js-carousel__mover.carousel__mover_left.js-carousel__mover_left
      +icon-open({ type: 'rotated-left' })
    .carousel__mover.js-carousel__mover.carousel__mover_right.js-carousel__mover_right
      +icon-open({ type: 'rotated-right' })
    .carousel__indicators-list.js-carousel__indicators-list
      each val in [1,2,3,4]
        .carousel__indicator.js-carousel__indicator

