.icon-text {
  width: 100%;
  display: grid;
  grid-template-columns: 53px 1fr;
  margin: 21px 0px 19px 4px;

  &__icon {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: bold;
  }

  &__divider {
    &:last-child {
      display: none;
    }
    height: 1px;
    max-width: 280px;
    width: 100%;
    background: rgba(31, 32, 65, 0.1);
  }
}