.select {
  display: none;
  position: absolute;
  top: 44px;
  z-index: 2;
  width: 320px;
  height: 159px;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}