.check {
  margin-top: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  &__input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:checked + .check__box:before {
      display: inline-block;      
    }
  }

  &__box {
    width: 20px;
    height: 20px;
    border: 1px solid #BC9CFF;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:before {
      display: none;
    }
  }
}

