mixin checkbox(id, text, subtext)
  label.row.check
    input.check__input(type="checkbox" id=id)
    span.check__box.icon-ok
    if(subtext)
      div
        p.p_bold=text
        p.p_small=subtext
    else 
      p.p_lightGrey=text