.checkbox {
  &__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  &__label {
    min-width: 20px;
  }

  &__input {
    appearance: none;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0px;
    color: transparent;
    text-shadow: 0 0 0 black;
    cursor: pointer;
    caret-color: transparent;

    &:checked+.checkbox__box>.icon-check:before {
      display: block;
    }
  }

  &__box {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #BC9CFF;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    white-space: pre-wrap;
  }

  &__text {
    margin: 0px;
    font-size: 14px;
    line-height: 18px;

    &_bold {
      font-weight: bold;
      line-height: 20px;
    }

    &_light {
      color: rgba(31, 32, 65, 0.5);
      padding: 1px 0px;
    }
  }

  &__subtext {
    margin: 0px;
    padding-top: 5px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
  }
}