mixin rights({ type = null } = {})   
  .rights(class= `${type ? 'rights_' + type : ''}`)
    .rights__inner
      .rights__logo
        +logo()
      p.rights__text Copyright © 2018 Toxin отель. Все права защищены.
      .rights__list
        button.rights__icon
          include ../../assets/icons/social-icons/twitter.svg
        button.rights__icon
          include ../../assets/icons/social-icons/facebook.svg
        button.rights__icon
          include ../../assets/icons/social-icons/instagram.svg