.rights {
  background-color: #fff;
  height: 71px;

  @media only screen and (max-width: 1024px) {
    height: 367px;
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {
    display: none;

    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }

  &__text {
    line-height: 17px;

    @media only screen and (max-width: 1024px) {
      margin: 10px 0px 17px 0px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    @media only screen and (max-width: 1024px) {
      margin-top: 25px;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
  }
}