include select-inner/select-inner.pug

mixin select(id)
  div(class='drop select' id=id+'-input')
    +select-inner()
    div(class='row select__row select__row_bottom')
      h3(class='h3_light') очистить
      h3(class='h3_light') применить
        
