.rights {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  
  &-content {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 

  &__logo {
    display: none;
  }
}

.icons-list {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 0 0 20px;
}

@media only screen and (max-width: 1024px) {
  .rights {    
    &-content {
      height: 367px;
      flex-direction: column;
      justify-content: center;
    } 

    &__logo {
      display: block;
    }
  }
}