include ../calendar/calendar.pug
include ../selector/selector.pug
include ../checkbox-list/checkbox-list.pug
include ../button/button.pug

mixin drop({type='calendar', id, hasButton=false, items})
  .drop.js-drop(class='drop_for-' + type) 
    if(type==='calendar')
      +calendar({id: id})
    if(type==='guests' || type==='placement')
      +selector({items:items})
    if(type==='list') 
      +checkbox-list(items)
    if(hasButton)
      .drop__row(class='drop__row_for-' + type)
        .drop__button.drop__button_for-reset.js-drop__button_for-reset
          +button({ theme: 'simple', type: 'button', text: 'очистить' })
        .drop__button.drop__button_for-submit.js-drop__button_for-submit
          +button({ theme: 'simple', type: 'button', text: 'применить' })
      