.drop {
  display: none;
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: 4;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  &_for-calendar {
    margin-top: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25);
  }

  &_for-guests,
  &_for-placement {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    user-select: none;
  }

  &_for-list {
    box-shadow: none;
  }

  &_active {
    display: block;
  }

  &_for-checkbox {
    box-shadow: none;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    background-color: white;

    &_for-calendar {
      padding: 20px;
    }

    &_for-guests,
    &_for-placement {
      padding: 12px 5px 12px 15px;

      .drop__button {
        &_for-reset {
          visibility: hidden;
        }

        &_active {
          visibility: visible;
        }
      }
    }
  }

    &__button {
      line-height: 15px;
    }
  }