include ../calendar/calendar.pug
include ../select/select.pug
include ../checkbox-list/checkbox-list.pug

mixin drop({type='calendar', id='', hasButton=false, items})
  .drop.js-drop(class='drop_' + type) 
    if(type=='calendar')
      +calendar({id:id, hasButton: hasButton})
    if(type=='guests' || type=='placement')
      +select({items:items, hasButton: hasButton})
    if(type=='checkbox')
      +checkbox-list(items)