.drop {
  display: none;
  position: absolute;  
  left: 0rem;
  z-index: 4;

  background: #FFFFFF;
  box-sizing: border-box;  
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);

  &_facilities {
    box-shadow: none;
    padding: 0.4375rem 0rem 0rem 0rem;
  }
}

.active {
  display: block;
}