mixin count(item)
  div(class='row count')  
    button(type='button', class='count__btn minus') -
    input(type="text" class='count__num' value="0")
    button(type='button', class='count__btn plus') +