mixin count(count)
  div(class='row count')  
    button(type='button', class='count__btn minus') -
    input(type="text" class='count__num' value=count)
    button(type='button', class='count__btn plus') +