include ../double-date/double-date.pug
include ../form/form_select/form_select.pug

.entry-card
  .entry-inner
    h1 Найдём номера под ваши пожелания
    .row.entry-row          
      +double-date('entry')(class='entry-date')  
    .row.entry-row 
      +form_select('гости', ['взрослые', 'дети', 'младенцы'], 'guests')(class='entry-select')
    button.btn.btn_card подобрать номер
      i.icon-right