include ../form-double-date/form-double-date.pug 
include ../form-guests/form-guests.pug
include ../button/button.pug

mixin entry-card({} = {})
  form.entry-card.js-entry-card(action='./catalog.html')
    .entry-card__inner
      .entry-card__item
        h1.entry-card__title Найдём номера под ваши пожелания
      .entry-card__item 
        .entry-card__date.js-entry-card__date       
          +form-double-date({id: 'entry-card' })
      .entry-card__item
        h3.entry-card__subtitle гости 
        .entry-card__guests.js-entry-card__guests
          +form-guests({
            items: [{name: "Взрослые", amount: 0}, {name: "Дети", amount: 0}, {name: "Младенцы", amount: 0}], 
            hasButton: true })
      .entry-card__button.js-entry-card__button
        +button({theme:'with-arrow', type:'submit', text:'подобрать номер', icon: true, href:'/pages/catalog.html'})