div(class='entry-card')
  div(class='entry-inner')
    h2 Найдём номера под ваши пожелания
    include ../conditions/conditions.pug
    button(class='btn btn_entry') 
      a(href='catalog.html') подобрать номер
