include ../double-date/double-date.pug
include ../form/form_select/form_select.pug

div(class='entry-card')
  div(class='entry-inner')
    h1 Найдём номера под ваши пожелания
    div(class='row entry-row')          
      +double-date('entry')(class='entry-date')  
    div(class='row entry-row')
      +form_select('гости', ['взрослые', 'дети', 'младенцы'], 'guests')(class='entry-select')
    button(class='btn btn_card') подобрать номер
