include ../form/form.pug
include ../double-date/double-date.pug 

.card.entry-card
  .card__inner
    .card__item
      h1 Найдём номера под ваши пожелания
    .card__item
      +double-date("datepicker_entry")
    .card__item
      h3 гости 
      +form( 
        /*category=*/ "guests", 
        /*items*/ [{name: "Взрослые", count: 0}, {name: "Дети", count: 0}, {name: "Младенцы", count: 0}],
        /*value*/ "Сколько гостей")(class="select_card")
    .card__item
      button.btn.btn_link подобрать номер
        span.icon-arrow