include ../form/form.pug

.card.entry-card
  .card-inner.entry-inner
    .entry-item
      h1 Найдём номера под ваши пожелания
    .entry-item
      .row.row_fill
        form
          h3 прибытие
          +input("text", "ДД.ММ.ГГГГ")(class="dropdown")
        form
          h3 выезд
          +input("text", "ДД.ММ.ГГГГ")(class="dropdown")       
    .entry-item
      h3 гости 
      +form( 
        /*category=*/ "guests", 
        /*items*/ [{name: "Взрослые", count: 0}, {name: "Дети", count: 0}, {name: "Младенцы", count: 0}])(class="select_card")
    .entry-item
      button.btn.btn_link подобрать номер
        span.icon-arrow