div(class='entry-card')
  div(class='entry-inner')
    h1 Найдём номера под ваши пожелания
    include ../conditions/conditions.pug
    button(class='btn btn_entry') 
      a(href='catalog.html' class='p_blue') подобрать номер
