.room-card {
  width: 380px;
  height: 512px;
  h2, h4 {
    margin: 0px;
  }

  &-title {
    justify-content: flex-start;
    align-items: baseline;    
    :last-child {
      margin-left: auto;
    }    
    h2 {
      padding: 0px 8px;
    }
    h3 {
      color: #BC9CFF;
    }
  } 

  .calculation {
    display: grid;
    grid-template-columns: minmax(min-content, 214px) 30px 1fr;

    &-item {
      margin-bottom: 10px;
      p {
        line-height: 18px;
      }      
    }
    
    .circle-i {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      margin: 0 auto;
      line-height: 20px;
      text-align: center;
    }    

    .cost {
      margin-left: auto;
    }
  }

  .total {
    align-items: baseline;
    margin-bottom: 20px;
    h2 {
      white-space: nowrap;
    }
    &__divider {
      width: 100%;
      height: 1px;   
      border: 1px dashed rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
    }
  }
}