- const roomData = require('@c/room-card/room-card.json')
include ../form/form.pug
include ../double-date/double-date.pug
include ../calculation/calculation.pug

.room-card   
  -const date = roomData.date
  -const diff = Math.abs(+new Date(date[1]) - +new Date(date[0]));
  -const days = diff/1000/60/60/24;
  .room-card__inner
    .room-card__item
      .room-card__title
        p.room-card__title-block
          span.room-card__number-sign №
          span.room-card__number= roomData.num
          span.room-card__lux= roomData.luxury ? "люкс" : ""
        p.room-card__title-block
          span.room-card__cost= roomData.cost.toLocaleString() + '₽'
          span.room-card__cost-text в сутки
    .room-card__item
      +double-date("room")
    .room-card__item
      h3.room-card__subtitle гости 
      +form({
        dropDate: {
          type: "guests",
          hasButton: true,
          items: [{name: "Взрослые", count: 2}, {name: "Дети", count: 1}, {name: "Младенцы", count: 0}]
        }
      }) 
    .room-card__calculation 
      +calculation(roomData, days)        
    .room-card__item
      .room-card__total 
        h2.room-card__total-text Итого
        .room-card__dots
        h2.room-card__total-cost= (roomData.cost*days-roomData.discount+roomData.fee).toLocaleString() + '₽'
      .room-card__butoon 
        +button({theme: "link", text: "забронировать", icon: true})