- const roomData = require('@c/room-card/room-card.json')
include ../form/form.pug
include ../double-date/double-date.pug

.card.room-card   
  .card-inner
    .card-item
      .row.room-card-title
        h4 №
        h2= roomData.num
        h3= roomData.luxury?"люкс":""
        .p_lightGrey=  roomData.cost + 'р в сутки'
    .card-item
      +double-date("datepicker_room")
    .card-item
      h3 гости 
      +form( 
        /*category*/ "guests", 
        /*items*/ [{name: "Взрослые", count: 2}, {name: "Дети", count: 1}, {name: "Младенцы", count: 0}])(class="select_card")
    .card-item
      .room-card-calculation.calculation 
        .calculation-item 
          p= roomData.cost + '₽ х 4 суток'
        .calculation-item
        .calculation-item.cost
          p 39 960₽
        .calculation-item
          p Сбор за услуги: скидка 2 179₽
        .calculation-item.circle-i
          span i
        .calculation-item.cost
          p 0₽
        .calculation-item
          p Сбор за дополнительные услуги
        .calculation-item.circle-i
          span i
        .calculation-item.cost
          p 300₽    
    .card-item
      .row.room-card-total.total 
        h2 Итого
        .total__divider
        h2 38 081₽
      button.btn.btn_link забронировать
        span.icon-arrow