include ../form/form.pug

.card.room-card 
  .card-inner
    .card-item
      .row.room-card-title
        h4 №
        h2 888
        h3 люкс
        .p_lightGrey 9990 р в сутки
    .card-item
      .room-card-row
        .row.row_fill.double-date
          form
            h3 прибытие
            +input("text", "19.08.2019")(class="dropdown")
          form
            h3 выезд
            +input("text", "23.08.2019")(class="dropdown")
    .card-item
      h3 гости 
      +form( 
        /*category=*/ "guests", 
        /*items*/ [{name: "Взрослые", count: 2}, {name: "Дети", count: 1}, {name: "Младенцы", count: 0}])(class="select_card")
    .card-item
      .room-card-calculation.calculation 
        .calculation-item 
          p 9 990₽ х 4 суток
        .calculation-item
        .calculation-item.cost
          p 39 960₽
        .calculation-item
          p Сбор за услуги: скидка 2 179₽
        .calculation-item.circle-i
          span i
        .calculation-item.cost
          p 0₽
        .calculation-item
          p Сбор за дополнительные услуги
        .calculation-item.circle-i
          span i
        .calculation-item.cost
          p 300₽    
    .card-item
      .row.room-card-total.total 
        h2 Итого
        .total__divider
        h2 38 081₽
      button.btn.btn_link забронировать
        span.icon-arrow