/*!**************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./theme/global.scss ***!
  \**************************************************************************************************************/
body {
  margin: 0 auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: #1F2041;
}

h1 {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 5px 0px;
}

h4 {
  font-size: 14px;
  line-height: 17px;
}

p, input, button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
}

.p_nav {
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.p_lightGrey {
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.p_small {
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.p_light, .p_blue {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}
.p_light {
  color: #BC9CFF;
}
.p_blue {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  padding: 0px 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
}
/*!*************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./theme/fonts.scss ***!
  \*************************************************************************************************************/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/079ca05d3ded9bc107ab.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/3cd786652b8a2e9d41f2.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/4c3d23174e1f233b946d.ttf) format("truetype");
}
/*!************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./theme/css/icons.css ***!
  \************************************************************************/
@font-face {
  font-family: 'fontello';
  src: url(fonts/ea0847d0053a7a55946f.woff2) format('woff2'),
       url(fonts/76b5039fdec9da1860a4.woff) format('woff'),
       url(fonts/6ca189f6cfa7b5c829b1.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */

/*!**********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/form/form.scss ***!
  \**********************************************************************************************************************/
.form {
  position: relative;
}
/*!*************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/form/form_date/form_date.scss ***!
  \*************************************************************************************************************************************/

/*!*************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/nouislider/dist/nouislider.css ***!
  \*************************************************************************************************/
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/button/button.scss ***!
  \**************************************************************************************************************************/
.btn {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
}
.btn_header {
  height: 34px;
}
.btn_header-login {
  width: 87px;
  background: none;
  border: 2px solid #aa99ce;
}
.btn_header-register {
  width: 196px;
}
.btn_entry {
  width: 320px;
  height: 44px;
  margin: 37px 0px 0px 0px;
}
.btn_circle {
  width: 40px;
  height: 40px;
}
/*!******************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/calendar/calendar.scss ***!
  \******************************************************************************************************************************/
.calendar {
  width: 320px;
  height: 369px;
  top: 89px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
/*!**************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/catalog-list/catalog-list.scss ***!
  \**************************************************************************************************************************************/
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
}
.catalog-item__image {
  height: 151px;
}
.catalog-item__divider {
  position: absolute;
  left: 20px;
  width: 230px;
  height: 1px;
  background: rgba(31, 32, 65, 0.1);
}
.catalog-item .row_catalog-item {
  height: 53px;
  align-items: center;
  padding: 0px 20px;
}
/*!**************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/catalog-turn/catalog-turn.scss ***!
  \**************************************************************************************************************************************/

/*!******************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/checkbox/checkbox.scss ***!
  \******************************************************************************************************************************/
input[type=checkbox] {
  display: none;
}

/* to hide the checkbox itself */
label > input[type=checkbox]:before {
  position: absolute;
  background-color: #FFFFFF;
  height: 20px;
  width: 20px;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
}

/* space between checkbox and label */
label > input[type=checkbox]:checked:before {
  font-family: "fontello";
  display: inline-block;
  content: "\e804";
}

/*.icon-ok {
  position: absolute;
  background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/
/*!**********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/conditions/conditions.scss ***!
  \**********************************************************************************************************************************/
.conditions__row {
  padding: 17px 0px 0px 0px;
}
.conditions__row:first-child .form_date:last-child .drop {
  left: auto;
  right: 0;
}
.conditions .withButton .input {
  width: 320px;
}
.conditions .form_date .input {
  width: 150px;
}
/*!**********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/drop/drop.scss ***!
  \**********************************************************************************************************************/
.drop {
  display: none;
  position: absolute;
  left: 0px;
  z-index: 4;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.active {
  display: block;
}
/*!**********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/entry-card/entry-card.scss ***!
  \**********************************************************************************************************************************/
.entry-card {
  height: 374px;
  width: 380px;
  position: absolute;
  top: 70px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
}
.entry-inner {
  padding: 39px 30px 30px 29px;
}
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/filter/filter.scss ***!
  \**************************************************************************************************************************/
.filter {
  width: 266px;
  padding: 25px 0px 0px 0px;
}
.filter .form {
  width: 100%;
  margin: 0px 0px 30px 0px;
}
.filter .form:first-child {
  margin: 0px 0px 20px 0px;
}
.filter .input {
  width: 100%;
}
.filter .drop {
  width: 100%;
}
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/footer/footer.scss ***!
  \**************************************************************************************************************************/
.rights {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.rights-content {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons-list {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 0 0 20px;
}

.links {
  box-shadow: 0px 1px 0px 0px #1F20411A;
}
.links-container {
  height: 372px;
}
.links-row {
  padding: 100px 0px 0px 0px;
}
.links-col {
  max-width: 260px;
  align-items: flex-start;
}
/*!*******************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/footer/links/links.scss ***!
  \*******************************************************************************************************************************/
.links {
  box-shadow: 0px 1px 0px 0px #1F20411A;
}
.links-container {
  height: 372px;
}
.links-row {
  padding: 100px 0px 0px 0px;
}
.links-col {
  max-width: 260px;
  align-items: flex-start;
}
/*!*********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/footer/rights/rights.scss ***!
  \*********************************************************************************************************************************/
.rights {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.rights-content {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons-list {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 0 0 20px;
}
/*!*****************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/form/form_select/form_select.scss ***!
  \*****************************************************************************************************************************************/

/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/header/header.scss ***!
  \**************************************************************************************************************************/
.header {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header-container {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}
.nav-list li {
  padding: 0 0 0 20px;
}
.nav-list li p {
  line-height: 17px;
}
/*!************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/input/input.scss ***!
  \************************************************************************************************************************/
.input {
  height: 44px;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(31, 32, 65, 0.75);
  line-height: 18px;
  padding: 0px 0px 0px 15px;
}
.input_empty {
  width: 320px;
}
.input_arrow {
  width: 260px;
}
.input__btn {
  position: absolute;
  z-index: 3;
  right: 2px;
  bottom: 2px;
  width: 40px;
  height: 40px;
  color: rgba(31, 32, 65, 0.5);
  background-color: #FFFFFF;
  border: 0px;
  box-sizing: border-box;
}
/*!**********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/logo/logo.scss ***!
  \**********************************************************************************************************************/
.logo {
  display: flex;
  align-items: center;
  width: 106px;
  justify-content: space-between;
}
/*!***************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/select-content/count/count.scss ***!
  \***************************************************************************************************************************************/
.count {
  width: 92px;
}
.count__btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  color: #1F204180;
  background-color: #ffff;
}
.count__num {
  max-width: 32px;
  border: none;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
/*!******************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/select-content/select-content.scss ***!
  \******************************************************************************************************************************************/
.count {
  width: 92px;
}
.count__btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  color: #1F204180;
  background-color: #ffff;
}
.count__num {
  max-width: 32px;
  border: none;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.select-content {
  height: 119px;
}

.select__row {
  padding: 7px 7px 0px 15px;
}
.select__row_bottom {
  padding-bottom: 7px;
}
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/select/select.scss ***!
  \**************************************************************************************************************************/
.select {
  width: 320px;
  height: 159px;
  top: 84px;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.select .btn_submit {
  border: none;
  background-color: white;
}
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/slider/slider.scss ***!
  \**************************************************************************************************************************/
.slider-styled,
.slider-styled .noUi-handle {
  box-shadow: none;
}

.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
  display: none;
}

#slider-round {
  height: 6px;
}

#slider-round .noUi-connect {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

#slider-round .noUi-handle {
  height: 12px;
  width: 12px;
  top: -5px;
  right: -6px;
  /* half the width */
  border-radius: 10px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
/*!***********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./pages/catalog/catalog.scss ***!
  \***********************************************************************************************************************/
.catalog-content {
  width: 834px;
  height: 1090px;
}
.catalog__title {
  margin: 30px 0px 20px 0px;
}
/*!*******************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./pages/index/index.scss ***!
  \*******************************************************************************************************************/
.main {
  height: 830px;
  background-image: url(images/b16b5f294258b914f18e.jpg);
  background-size: cover;
}
.main-container {
  z-index: 1;
  position: relative;
  height: 100%;
}

.note {
  position: absolute;
  height: 48px;
  width: 297px;
  bottom: 21px;
  right: 4px;
}
.note__p {
  margin: 0;
  text-align: right;
}
