/*!*************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./theme/fonts.scss ***!
  \*************************************************************************************************************/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/079ca05d3ded9bc107ab.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/3cd786652b8a2e9d41f2.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/4c3d23174e1f233b946d.ttf) format("truetype");
}
/*!**************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./theme/global.scss ***!
  \**************************************************************************************************************/
body {
  margin: 0 auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: #1F2041;
}

h1 {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 5px 0px;
}

h4 {
  font-size: 14px;
  line-height: 17px;
}

p, input, button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
}

.p_nav {
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.p_lightGrey {
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.p_small {
  font-style: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.p_light, .p_blue {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}
.p_light {
  color: #BC9CFF;
}
.p_blue {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  padding: 0px 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
}
/*!**********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/form/form.scss ***!
  \**********************************************************************************************************************/
.form {
  position: relative;
}
/*!*************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/form/form_date/form_date.scss ***!
  \*************************************************************************************************************************************/

/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/button/button.scss ***!
  \**************************************************************************************************************************/
.btn {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
}
.btn_header {
  height: 34px;
}
.btn_header-login {
  width: 87px;
  background: none;
  border: 2px solid #aa99ce;
}
.btn_header-register {
  width: 196px;
}
.btn_entry {
  width: 320px;
  height: 44px;
  margin: 37px 0px 0px 0px;
}
.btn_circle {
  width: 40px;
  height: 40px;
}
/*!******************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/calendar/calendar.scss ***!
  \******************************************************************************************************************************/
.calendar {
  width: 320px;
  height: 369px;
  top: 89px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
/*!**************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/catalog-list/catalog-list.scss ***!
  \**************************************************************************************************************************************/
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
}
.catalog-item__image {
  height: 151px;
}
.catalog-item__divider {
  position: absolute;
  left: 20px;
  width: 230px;
  height: 1px;
  background: rgba(31, 32, 65, 0.1);
}
.catalog-item .row_catalog-item {
  height: 53px;
  align-items: center;
  padding: 0px 20px;
}
/*!**************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/catalog-turn/catalog-turn.scss ***!
  \**************************************************************************************************************************************/

/*!**********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/conditions/conditions.scss ***!
  \**********************************************************************************************************************************/
.conditions__row {
  padding: 17px 0px 0px 0px;
}
.conditions__row:first-child .form_date:last-child .drop {
  left: auto;
  right: 0;
}
.conditions .withButton .input {
  width: 320px;
}
.conditions .form_date .input {
  width: 150px;
}
/*!**********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/drop/drop.scss ***!
  \**********************************************************************************************************************/
.drop {
  display: none;
  position: absolute;
  left: 0px;
  z-index: 4;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.active {
  display: block;
}
/*!**********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/entry-card/entry-card.scss ***!
  \**********************************************************************************************************************************/
.entry-card {
  height: 374px;
  width: 380px;
  position: absolute;
  top: 70px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
}
.entry-inner {
  padding: 39px 30px 30px 29px;
}
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/filter/filter.scss ***!
  \**************************************************************************************************************************/
.filter {
  width: 266px;
  padding: 25px 0px 0px 0px;
}
.filter .form {
  width: 100%;
}
.filter .input {
  width: 100%;
}
.filter .drop {
  width: 100%;
}
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/footer/footer.scss ***!
  \**************************************************************************************************************************/
.rights {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.rights-content {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons-list {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 0 0 20px;
}

.links {
  box-shadow: 0px 1px 0px 0px #1F20411A;
}
.links-container {
  height: 372px;
}
.links-row {
  padding: 100px 0px 0px 0px;
}
.links-col {
  max-width: 260px;
  align-items: flex-start;
}
/*!*******************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/footer/links/links.scss ***!
  \*******************************************************************************************************************************/
.links {
  box-shadow: 0px 1px 0px 0px #1F20411A;
}
.links-container {
  height: 372px;
}
.links-row {
  padding: 100px 0px 0px 0px;
}
.links-col {
  max-width: 260px;
  align-items: flex-start;
}
/*!*********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/footer/rights/rights.scss ***!
  \*********************************************************************************************************************************/
.rights {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.rights-content {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons-list {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 0 0 20px;
}
/*!*****************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/form/form_select/form_select.scss ***!
  \*****************************************************************************************************************************************/

/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/header/header.scss ***!
  \**************************************************************************************************************************/
.header {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header-container {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}
.nav-list li {
  padding: 0 0 0 20px;
}
.nav-list li p {
  line-height: 17px;
}
/*!************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/input/input.scss ***!
  \************************************************************************************************************************/
.input {
  height: 44px;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(31, 32, 65, 0.75);
  line-height: 18px;
  padding: 0px 0px 0px 15px;
}
.input_empty {
  width: 320px;
}
.input_arrow {
  width: 260px;
}
.input__btn {
  position: absolute;
  z-index: 3;
  right: 2px;
  bottom: 2px;
  width: 40px;
  height: 40px;
  color: rgba(31, 32, 65, 0.5);
  background-color: #FFFFFF;
  border: 0px;
  box-sizing: border-box;
}
/*!**********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/logo/logo.scss ***!
  \**********************************************************************************************************************/
.logo {
  display: flex;
  align-items: center;
  width: 106px;
  justify-content: space-between;
}
/*!***************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/select-content/count/count.scss ***!
  \***************************************************************************************************************************************/
.count {
  width: 92px;
}
.count__btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  color: #1F204180;
  background-color: #ffff;
}
.count__num {
  max-width: 32px;
  border: none;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
/*!******************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/select-content/select-content.scss ***!
  \******************************************************************************************************************************************/
.count {
  width: 92px;
}
.count__btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  color: #1F204180;
  background-color: #ffff;
}
.count__num {
  max-width: 32px;
  border: none;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.select-content {
  height: 119px;
}

.select__row {
  padding: 7px 7px 0px 15px;
}
.select__row_bottom {
  padding-bottom: 7px;
}
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./components/select/select.scss ***!
  \**************************************************************************************************************************/
.select {
  width: 320px;
  height: 159px;
  top: 84px;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.select .btn_submit {
  border: none;
  background-color: white;
}
/*!***********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./pages/catalog/catalog.scss ***!
  \***********************************************************************************************************************/
.catalog-content {
  width: 834px;
  height: 1090px;
}
.catalog__title {
  margin: 30px 0px 20px 0px;
}
/*!*******************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./pages/index/index.scss ***!
  \*******************************************************************************************************************/
.main {
  height: 830px;
  background-image: url(images/b16b5f294258b914f18e.jpg);
  background-size: cover;
}
.main-container {
  z-index: 1;
  position: relative;
  height: 100%;
}

.note {
  position: absolute;
  height: 48px;
  width: 297px;
  bottom: 21px;
  right: 4px;
}
.note__p {
  margin: 0;
  text-align: right;
}
