$max-width: 1440px;

body {
  margin: 0;
}

.body {
  margin: 0 auto;  
}

h2 {
  font-family: 'Montserrat Bold', sans-serif;;
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
  margin: 0;
}

h3 {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #1F2041;
  
}

p{
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 14px;  
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

  .p_dark{
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
  } 
  .p_light {
    color: rgba(31, 32, 65, 0.25);
    line-height: 24px;
  }
  .p_input {
    color: rgba(31, 32, 65, 0.75);
    line-height: 18px;
    padding: 0px 0px 0px 15px;
  }

.container {
  max-width: 1180px;
  padding: 0px 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



