
doctype html
html
  head
    style   
      include 'includes/index/index.css'
  body
  div(class='body')
    include includes/header/header.pug
    include includes/main.pug
    include includes/footer.pug