.forms {
  gap: 100px;
  .col {
    min-width: 320px;
  }
  >.row {
    gap: 70px;
  }
  .col-filter {
    max-width: 266px;  
  }
  .double-date { 
    gap: 20px;  
    .form {
      max-width: 150px;
      width: 100%;
    }
  }
  .buttons {
    .row {
      margin-bottom: 30px;
    }
  }
  .row_title {
    h3:last-child {
      opacity: 50%;
      font-weight: normal;
    }
  }
}