include ../../components/form/form.pug
include ../../components/checkbox/checkbox.pug
include ../../components/radio/radio.pug
include ../../components/toggle/toggle.pug
include ../../components/like/like.pug

.container 
  .forms
    .col-1
      .row-1 
        +form("Text Field", "E-mail")
        +form("Text Field", "E-mail")
        +form("Dropdown", "text")(class='dropdown')
        +form("masked text field", "date")(class='dropdown')
        .row.double-date 
          +form("date dropdown", "date")(class='dropdown')
          +form("date dropdown", "date")(class='dropdown')
        .row-1-filter
          +form("filter date dropdown", "date")(class='dropdown')
          +form("subscription text field", "date")(class='subscript')
      .row-2
        
      .row-3
    .col-2
      .row-1 
        form
          h3 Checkbox Buttons
          +checkbox("smoke", "Можно курить")
          +checkbox("pet", "Можно с питомцами")
          +checkbox("invite", "Можно пригласить гостей (до 10 человек)")
        +radio("radio buttons")
        form
          h3 toggle
          +toggle("Получать спецпредложения", "checked")
          +toggle("Получать спецпредложения")
        form
          h3 like button 
          +like()
      .row-2
      .row-3
    .col-3
      .row-1
      .row-2
      .row-3
    
