include ../../components/form/form.pug
include ../../components/checkbox/checkbox.pug
include ../../components/radio/radio.pug
include ../../components/toggle/toggle.pug
include ../../components/like/like.pug
include ../../components/rate/rate.pug
include ../../components/slider/slider.pug
include ../../components/select/select.pug

.container 
  .forms
    .col-1
      .row-1 
        +form("Text Field", "E-mail")
        +form("Text Field", "E-mail")
        +form("Dropdown", "text")(class='dropdown')
        +form("masked text field", "date")(class='dropdown')
        .row.double-date 
          +form("date dropdown", "date")(class='dropdown')
          +form("date dropdown", "date")(class='dropdown')
        .row-filter
          +form("filter date dropdown", "date")(class='dropdown')
          +form("subscription text field", "date")(class='subscript')
      .row-2.row-filter
        +form("Dropdown", "text")(class='dropdown')
        +form("Dropdown", "text")(class='dropdown')
          +select(["Спальни", "Кровати", "Ванные комнаты"])
        
      .row-3
    .col-2
      .row-1 
        form
          h3 Checkbox Buttons
          +checkbox("smoke", "Можно курить")
          +checkbox("pet", "Можно с питомцами")
          +checkbox("invite", "Можно пригласить гостей (до 10 человек)")
        +radio("radio buttons")
        form
          h3 toggle
          +toggle("Получать спецпредложения", "checked")
          +toggle("Получать спецпредложения")
        form
          h3 like button 
          .row.like-row
            +like("2", false, "like-1")
            +like("12", true, "like-2")
        form
          h3 rate button
          .row 
            +rate(4)
            +rate(5)        
      .row-2
      .row-3
    .col-3
      .row-1
        +slider("forms", "Range Slider")
        .buttons
          h3 buttons 
          .row 
            button.btn.btn_blue click me
            button.btn.btn_blue.hovered click me
          .row
            button.btn.btn_white click me
            button.btn.btn_white.hovered click me
          .row
            button.btn.btn_simple click me
            button.btn.btn_simple.hovered click me
          button.btn.btn_link перейти к оплате
            span.icon-right
        include ../../components/pagination/pagination.pug
      .row-2
      .row-3
    
