include ../../components/form/form.pug
include ../../components/input/input.pug
include ../../components/checkbox/checkbox.pug
include ../../components/radio/radio.pug
include ../../components/toggle/toggle.pug
include ../../components/like/like.pug
include ../../components/rate/rate.pug
include ../../components/slider/slider.pug
include ../../components/select/select.pug

.container 
  .forms.col
    .row
      .col
        form
          h3 Text Field
          +input("E-mail", "E-mail")   
        form
          h3 Text Field
          +input("E-mail", "E-mail")
        form
          h3 Dropdown
          +input("text", "E-mail")(class="dropdown")
        form
          h3 masked text field
          +input("date", "E-mail")(class="dropdown")
        .row.double-date 
          form
            h3 date dropdown
            +input("date", "E-mail")(class="dropdown")
          form
            h3 date dropdown
            +input("date", "E-mail")(class="dropdown")
        .col-filter
          form
            h3 filter date dropdown
            +input("date", "E-mail")(class="dropdown")
          form
            h3 subscription text field
            +input("date", "E-mail")(class="subscript")
      .col 
        form
          h3 Checkbox Buttons
          +checkbox("smoke", "Можно курить")
          +checkbox("pet", "Можно с питомцами")
          +checkbox("invite", "Можно пригласить гостей (до 10 человек)")
        +radio("radio buttons")
        form
          h3 toggle
          +toggle("Получать спецпредложения", "checked")
          +toggle("Получать спецпредложения")
        form
          h3 like button 
          .row.like-row
            +like("2", false, "like-1")
            +like("12", true, "like-2")
        form
          h3 rate button
          .row 
            +rate(4)
            +rate(5)
      .col
        +slider("forms", "Range Slider")
        .buttons
          h3 buttons 
          .row 
            button.btn.btn_blue click me
            button.btn.btn_blue.hovered click me
          .row
            button.btn.btn_white click me
            button.btn.btn_white.hovered click me
          .row
            button.btn.btn_simple click me
            button.btn.btn_simple.hovered click me
          button.btn.btn_link перейти к оплате
            span.icon-right
        include ../../components/pagination/pagination.pug                
    .row 
      .col
        .col-filter 
          //- +form(/*title=*/ "Dropdown", /*type=*/ "text")(class='dropdown')
          +form(
            /*category=*/ "placement", 
            /*items*/ [{name: "Спальни", count: 2}, {name: "Кровати", count: 2}, {name: "Ванные комнаты", count: 0}])
          form
            .row
              h3 expandable checkbox list
              button.form_btn(type="button")
                i.icon-down-open
      .col 
        +form( 
          /*category=*/ "guests", 
          /*items*/ [{name: "Взрослые", count: 0}, {name: "Дети", count: 0}, {name: "Младенцы", count: 0}])(class="select_card")
      .col
        +form( 
          /*category=*/ "guests", 
          /*items*/ [{name: "Взрослые", count: 2}, {name: "Дети", count: 1}, {name: "Младенцы", count: 1}])(class="select_card")
    
