.forms {
  margin: 130px auto;
  gap: 100px;
  
  >.row {    
    >.col {
      width: 320px;
    }
  }
  .col-filter {
    max-width: 266px;  
  }
  .double-date { 
    gap: 20px;  
    form {
      max-width: 150px;
      width: 100%;
    }
  }
  .buttons {
    .row {
      margin-bottom: 30px;
    }
  }
  .row_title {
    h3:last-child {
      opacity: 50%;
      font-weight: normal;
    }
  }
}