.forms {
  max-width: 1160px;
  width: 96vw;
  display: grid;
  justify-content: space-between;
  padding: 0 1vw;
  margin: 143px auto;
  position: relative;
  grid:
    "block1 block2 block3"
    "block4 block2 block3"
    "block5 block6 block7"
    "block8 block9 block10"
    "block11 block12 block12"
    / 320px 320px 320px;

  @for $i from 1 through 12 {
    .block#{$i} {
      grid-area: block#{$i};
    }
  }

  &__block2 {
    margin-left: 27px;
  }

  &__block2,
  &__block4,
  &__block5 {
    max-width: 266px;
  }

  &__form {
    margin-block-end: 20px;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__subtitle {
    &_transparent {
      opacity: 50%;
      font-weight: normal;
      line-height: 12px;
    }
  }

  //block1
  &__block1 {
    .forms__form {
      max-width: 150px;
      width: 100%;
    }
  }

  //block2
  &__radio {
    margin-top: 26px;
  }

  &__toggle {
    margin-top: 40px;
  }

  &__like {
    margin-top: 43px;
  }

  &__rate {
    margin-top: 39px;
  }


  //block3
  &__slider {
    max-width: 266px;
  }

  &__buttons {
    margin-top: 28px;
    margin-bottom: 25px;
  }

  &__button {
    &_hovered {
      opacity: 0.5;
    }
  }

  &__pagination {
    margin-top: 40px;
  }

  //block4
  &__date-dropdown {
    margin-top: 20px;
  }

  &__subscription {
    margin-top: 41px;
  }

  //block 5, block 6, block7
  &__block5,
  &__block6,
  &__block7 {
    margin-top: 80px;
  }

  &__block6 {
    margin-left: 27px;
    width: 320px;
  }

  &__block8 {
    max-width: 266px;
    margin-top: 146px;
  }

  &__block9,
  &__block10 {
    margin-top: 153px;
  }

  &__block9 {
    margin-left: 27px;
  }

  &__block11 {
    margin-top: 172px;
  }

  &__block12 {
    margin-top: 203px;
    margin-left: 27px;
  }

}