.icon-open {

  &_rotated-left,
  &_rotated-right {
    &:before {
      display: inline-block;
      color: #fff;
    }
  }

  &_rotated-left {
    &:before {
      transform: rotateZ(90deg);
    }
  }

  &_rotated-right {
    &:before {
      transform: rotateZ(-90deg);
    }
  }

  &_expandable {
    display: block;
    font-size: 0.7em;
  }

  &_active {
    transform: rotateZ(180deg);
  }
}