.form-simple-date {
  position: relative;

  &__input {
    height: 44px;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    padding: 0 6px 0px 13px;

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &:focus,
    &:hover {
      outline: none;
      border: 1px solid rgba(31, 32, 65, 0.5);

      &::placeholder {
        color: rgba(31, 32, 65, 0.75);
      }
    }
  }
}