include ../form/form_date/form_date.pug
include ../form/form_select/form_select.pug

div(class='conditions')
  div(class='row conditions__row')          
      +form_date('прибытие')
      +form_date('выезд')   
  div(class='row conditions__row')
    +form_select('guests')(class='withButton')
     