.conditions {
  &__row {
    padding: 17px 0px 0px 0px;

    &:first-child {
      .form_date:last-child {
        .drop {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .form_select {
    .input {
      width: 320px;
    }
  }

  .form_date {
    .input {
      width: 150px;
    }
  }
}