.cards {
  padding: 150px 140px 140px 140px;
  background: #E5E5E5;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 40px;

  &__col {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 40px;   
    #calendar {
      width: 320px;
    }
  }
}