extends ../ui-kit-base/ui-kit-base.pug
include ../../components/catalog-item/catalog-item.pug
include ../../components/calendar/calendar.pug 
include ../../components/entry-card/entry-card.pug
include ../../components/log-in-card/log-in-card.pug
include ../../components/room-card/room-card.pug
include ../../components/sign-in-card/sign-in-card.pug

block content
  .cards.js-cards
    .cards__col
      .cards__entry-card.js-cards__entry-card
        +entry-card()
      .cards__log-in-card.js-cards__log-in-card   
        +log-in-card()
    .cards__col
      .cards__room-card.js-cards__room-card
        +room-card()
      .cards__sign-in-card.js-cards__sign-in-card
        +sign-in-card()
    .cards__col 
      .cards__date.js-cards__date   
        +calendar('cards')
      .cards__catalog-card.cards__catalog-card_focused.js-cards__catalog-card_focused
        +catalog-item({
          "num": 888,
          "luxury": true,
          "cost": 9990,
          "stars": 5,
          "review": 145
        })
      .cards__catalog-card
        +catalog-item({
          "num": 840,
          "luxury": false,
          "cost": 9990,
          "stars": 4,
          "review": 65
        })
