include ../../components/catalog-card/catalog-card.pug

.cards
  .cards__col
    include ../../components/entry-card/entry-card.pug
    include ../../components/login-card/login-card.pug
  .cards__col
    include ../../components/room-card/room-card.pug
    include ../../components/signin-card/signin-card.pug
  .cards__col
    include ../../components/calendar/calendar.pug 
    +catalog-card({
      "num": 888,
      "luxury": true,
      "cost": 9990,
      "stars": 5,
      "review": 145
    })
    +catalog-card({
      "num": 840,
      "luxury": false,
      "cost": 9990,
      "stars": 4,
      "review": 65
    })
