.btn {
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
  color: #ffffff;
  line-height: 15px;

  &-header {
    height: 34px;

    &__login {
      width: 87px;
      background: none;
      color: #aa99ce;
      border: 2px solid #aa99ce;
    }

    &__register {
      width: 196px;
    }
  }

  &-entry {
    width: 320px;
    height: 44px;
  }
}