@import 'calendar/calendar.scss';
@import 'select/select.scss';

.input {  
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;  

  &-empty {
    width: 320px;
  }

  &-arrow,
  &-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-arrow {
    width: 260px;
  }

  &-dropdown {
    &.filter {
      width: 266px;
    }
    &.entryDate {
      width: 150px;
    } 
    &.entryGuests {
      width: 320px;
    }    
  }
  
  &__btn {
    width: 44px;
    height: 44px;
    color: rgba(31, 32, 65, 0.5);
    background-color: #FFFFFF;
    border: 0px;
    box-sizing: border-box;
  }
}

.drop {
  display: none;
  position: absolute;
  top: 89px;
  left: 0px;
  z-index: 2;

  background: #FFFFFF;
  box-sizing: border-box;  
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.active {
  display: block;
}