include select/select.pug
include calendar/calendar.pug

// содержит input и выпадающий элемент
//-
  input(type, id, text, dropType)
  
  type:
  - empty(пустой)
  - arrow(input со стрелкой)
  - dropdown(input с выпадающим списком)   

  text: текст в поле input

  dropType: 
  для type==dropType устанавливает тип выпадающего списка
  -calendar если календарь
  -select если список, например, список гостей

  id: id


mixin input(type, text, dropType, id)
  //непосредственно input 
  div(id=id, class='input', class='input-'+type)&attributes(attributes)
    p(class='p_input')= text

    //добавляет кнопку 
    if(type == 'dropdown')
      button(class='input__btn')
        include dropdown-btn.svg
    if(type == 'arrow')
      button(class='input__btn')
        include arrow-btn.svg

  //если input содержит выпадающий элемент(type == 'dropdown'), добавляет его
  if(type == 'dropdown')
    if(dropType == 'calendar')
      +calendar(id)
    if(dropType == 'select')
      +select(id)
    
    
