.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;

  @media (max-width: 924px) {
    display: none;

    &_for-mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;
      line-height: 3em;
    }
  }

  &__item {
    &_with-submenu {
      display: grid;

      @media (max-width: 924px) {
        grid-template-columns: 1fr min-content;
      }
    }
  }

  &__link {
    text-decoration: none;
    outline: none;
    color: rgba(31, 32, 65, 0.5);

    &:hover,
    &:focus {
      font-weight: bold;
      color: rgba(31, 32, 65, 0.75);
    }
  }

  &__icon {
    display: inline-block;
    font-size: 0.6em;
    padding: 0em 0.8em;
    cursor: pointer;

    @media (max-width: 924px) {
      transform: rotateZ(-90deg);
    }
  }

  &__submenu {
    display: none;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    width: 100%;
    z-index: 60;

    &_opened {
      display: flex;
    }
  }
}