.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;


  @media (max-width: 924px) {
    display: none;

    &_for-mobile {
      width: 150px;
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    &__item {
      padding: 10px;
    }
  }

  &__item {
    &_with-submenu {
      display: grid;
      height: 20px;
      font-size: 14px;
      line-height: 17px;

      @media (max-width: 924px) {
        grid-template-columns: 130px 140px;
      }
    }
  }

  &__link {
    text-decoration: none;
    outline: none;
    color: rgba(31, 32, 65, 0.5);

    &:hover,
    &:focus {
      font-weight: bold;
      color: rgba(31, 32, 65, 0.75);
    }

    &_checked {
      font-weight: bold;
      color: rgba(31, 32, 65, 0.75);
    }
  }

  &__icon {
    display: inline-block;
    font-size: 0.6em;
    padding: 0em 0.8em;
    cursor: pointer;
    caret-color: transparent;

    @media (max-width: 924px) {
      transform: rotateZ(-90deg);
    }
  }

  &__submenu {
    display: none;
    flex-direction: column;
    background: #fff;
    padding: 10px 10px 20px 20px;
    width: 100%;
    z-index: 60;
    gap: 20px;
    margin-top: 20px;
    margin-left: -20px;

    @media (max-width: 924px) {
      margin: 0px;
      padding: 0px 10px 10px 10px;
      align-items: center;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    }

    &_opened {
      display: flex;
    }
  }
}