nav.nav
  ul.nav__topmenu.js-nav__topmenu    
    li.nav__item.js-nav__item_checked 
      a(href='../../empty.html') О нас
    li.nav__item.nav__item_link 
      a.nav__down.js-nav__down Услуги
        span.icon-open
      ul.nav__submenu.js-nav__submenu
        li 
          a(href='../../empty.html') Услуга 1
        li 
          a(href='../../empty.html') Услуга 2
        li 
          a(href='../../empty.html') Услуга 3
        li 
          a(href='../../empty.html') Услуга 4
    li.nav__item 
      a(href='./empty.html') Вакансии
    li.nav__item 
      a(href='./empty.html') Новости
    li.nav__item.nav__item_link
      a.nav__down.js-nav__down Соглашения
        span.icon-open
      ul.nav__submenu.js-nav__submenu 
        li 
          a(href='./empty.html') Соглашения 1
        li 
          a(href='./empty.html') Соглашения 2
        li 
          a(href='./empty.html') Соглашения 3
        li 
          a(href='./empty.html') Соглашения 4
        li 
          a(href='./empty.html') Соглашения 5
