include ../icon-open/icon-open.pug

nav.nav.js-nav  
  .nav__item.js-nav__item_checked 
    a.nav__link(href='../../empty.html') О нас
  .nav__item.nav__item_with-submenu
    a.nav__link.nav__link_with-icon Услуги
      span.nav__icon.js-nav__icon
        +icon-open()
    .nav__submenu.js-nav__submenu         
      a.nav__link(href='../../empty.html') Услуга 1         
      a.nav__link(href='../../empty.html') Услуга 2         
      a.nav__link(href='../../empty.html') Услуга 3         
      a.nav__link(href='../../empty.html') Услуга 4
  .nav__item 
    a.nav__link(href='./empty.html') Вакансии
  .nav__item 
    a.nav__link(href='./empty.html') Новости
  .nav__item.nav__item_with-submenu
    a.nav__link.nav__link_with-icon Соглашения
      span.nav__icon.js-nav__icon
        +icon-open()
    .nav__submenu.js-nav__submenu          
      a.nav__link(href='./empty.html') Соглашения 1         
      a.nav__link(href='./empty.html') Соглашения 2         
      a.nav__link(href='./empty.html') Соглашения 3         
      a.nav__link(href='./empty.html') Соглашения 4         
      a.nav__link(href='./empty.html') Соглашения 5
