.form-double-date {
  position: relative;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5vw;
  }

  &__subtitle {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }

  &__input {
    text-transform: uppercase;
  }

  &__calendar {
    margin-top: 6px;
  }
}