.double-date {
  position: relative;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5vw;
  }

  &__subtitle {
    margin: 0px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }
}