include ../calendar/calendar.pug

form
  .double-date  
    .double-date__item
      h3 прибытие
      +input("text", "ДД.ММ.ГГГГ")(class="date")
    .double-date__item
      h3 выезд
      +input("text", "ДД.ММ.ГГГГ")(class="date")
  +calendar("datepicker_entry")(class="select_card")