include ../input/input.pug
include ../calendar/calendar.pug

mixin double-date(id)
  form.form.form_date
    div.row
      div.col
        h3 Прибытие
        +input('dropdown', 'ДД.ММ.ГГГГ', id+'-input_left')(class='input-row_date')
      div.col
        h3 Выезд
        +input('dropdown', 'ДД.ММ.ГГГГ', id+'-input_right')(class='input-row_date')
    div.drop.drop_calendar
      +calendar()
      if attributes.class
        div(class='row')
          button(type='button', class='btn_submit reset p_light') очистить
          button(type='button', class='btn_submit submit p_light') применить