include ../drop/drop.pug
include ../input/input.pug

mixin double-date({})
  .double-date
    .double-date__item
      h3.double-date__subtitle прибытие
      +input({type: 'date'})
    .double-date__item
      h3.double-date__subtitle выезд
      +input({type: 'date'})
    