mixin slider({ title = 'диапазон цены', text = 'Стоимость за сутки пребывания в номере' } = {})
  form.slider.js-slider
    .slider__row
      h3.slider__title= title
      p.slider__result.js-slider__result
    .slider__row
      .slider__anchor.js-slider__anchor
    if(text)
      p.slider__text= text 