.slider {
  margin: 0px;
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 1);
  }

  &__result {
    margin: 0px;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
  }

  &__anchor {
    height: 6px;
    width: 100%;
    margin: 17px 0px 4px 0px;

    .noUi-handle {
      box-shadow: none;
      height: 12px;
      width: 12px;
      top: -4px;
      right: 0;
      border-radius: 50%;
      border: none;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

      &::after {
        display: none;
      }

      &::before {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: -2px;
        z-index: -1;
      }

      &-lower {
        &::before {
          left: -2px;
          right: -2px;
        }
      }

      &-upper {
        &::before {
          right: -2px;
          left: -2px;
        }
      }
    }

    .noUi-connect {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }
  }

  &__text {
    margin: 13px 0px 0px 0px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(31, 32, 65, 0.5);
  }
}