form(class='form')
  div(class='row')
    h3 диапазон цены
    P(class='p_small', id='slider-result')
  div(class'row')
    div(class="slider-styled", id="slider-round")
  p(class='p_small') Стоимость за сутки пребывания в номере