mixin slider(type, title, text)
  form(class=type)
    .row.row_fill.slider__row
      h3= title
      p.p_small.slider__result.js-slider__result
    .row.slider__row
      .slider__body.js-slider__body
    if text
      p.slider__text= text 