mixin slider({type, title, text})
  form.slider(class=type)
    .slider__row
      h3.slider__title= title
      p.slider__result.js-slider__result
    .slider__row
      .slider__anchor.js-slider__anchor
    if(text)
      p.slider__text= text 