.rights {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  
  &-content {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  

  p{
    color: rgba(31, 32, 65, 0.75)
  }
}

.icons-list {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 0 0 20px;
}