div(class='container')
  div(class='rights') 
    p Copyright © 2018 Toxin отель. Все права защищены.
    div(class='icons-list') 
      div(class='icon')
        include twitter.svg
      div(class='icon')
        include facebook.svg
      div(class='icon')
        include instagram.svg