.rights {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons-list {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 0 0 20px;
}