.calculation {
  display: grid;
  grid-template-columns: minmax(min-content, 214px) 30px 1fr;
  grid-row-gap: 14px;
  align-items: baseline;

  &__text {
    line-height: 18px;
    margin: 0px;

    &_with-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      margin: 0 auto;
      line-height: 20px;
      text-align: center;
      background: none;
    }

    &_with-cost {
      margin-left: auto;
    }
  }
}